::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* default */
h1,h2,h3,h4,h5 { 
	margin: 0; 
	padding: 0;
}	

.hidden { 
	overflow: hidden;
	text-indent: -999em; 
}

hr.hide-line { 
	margin: 0; 
	padding: 0; 
	display: none;
}

.clearfix:after { 
	height: 0; 
	clear: both;
	content: "."; 
	display: block; 
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hide from IE Mac \*/
.clearfix { 
	display: block;
}
/* End hide from IE Mac */


/* nojavascript */
.nojavascript { 
	top: 0;
	left: 50%;
	color: Red; 
	z-index: 1; 
	width: 990px;
	background: #FFF;
	position: absolute; 
	margin-left: -495px; 
	border: 2px dashed Red;
	font: bold 12px 'Trebuchet MS', Arial, San-serif;
}


/***** CLASSES *****/
.left { 
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.block {
	display: block;
}

.clear { 
	clear: both;
}

.debug {
	border: 1px solid Green;
}


/****** BODY ******/
body { 
	margin: 0;
	padding: 0; 
	color: #FFF;
	text-align: center; 
	font: 100% 'BankGothic', Arial, Helvetica, Sans-serif; 
	background: #400000 url(../images/common/bg_body.png) repeat-x center bottom;
}

/****** WRAPPER ******/
#wrapper {
	width: 100%;
	background: transparent url(../images/common/bg_wrapper.jpg) no-repeat center top;
}

/****** MAIN ******/
#main {
	padding: 0;  
	width: 990px;
	height: 100%; 
	margin: 0 auto; 
	text-align: left; 
	position: relative; 
}

/****** HEADER ******/
#header { 
	top: 0; 
	left: 0;
	width: 100%;
	position: absolute; 
	background: transparent url(../images/common/bg_header.png) repeat-x;
}

#social2 {
	top: -25px;
	left: 0;
	position: absolute;
	text-align: left !important;
}

#header p {
	width: 960px;
	margin: 0 auto;
	font-size: 20px;
	text-align: right;
	line-height: 63px;
	position: relative;
}

#nav {
	padding: 0;
	width: 940px;
	height: 88px;
	margin: 0 auto;
	padding: 0 12px;
	list-style: none;
	text-align: left;
	background: transparent url(../images/common/bg_nav.png);
}

#nav li {
	color: #FFF;
	float: left;
	height: 74px;
	font-size: 18px;
	margin: 7px auto;
	display: inline-block;
	border-left: 1px solid #AE0000;
	border-right: 1px solid #450000;
}

#nav li#contact {
	height: 60px;
	text-align: center;
	padding: 14px 0 0 10px;
}

#nav li:first-child {
	border-left: none;
}

#nav li:last-child {
	border-right: none;
}

#nav li a {
	margin: 10px;
	padding: 15px;
	color: #C7A054;
	font-size: 20px;
	display: inline-block;
	text-decoration: none;
}

#nav li a:hover {
	color: #FFF;
}

#nav li a.active-menu {
	color: #FFF;
	border: 1px solid #926000;
	background: url(../images/common/bg_nav-active.jpg) repeat-x;

	background-size: auto 100%;

	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='../images/common/bg_nav-active.jpg',
		sizingMethod='scale');

	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='../images/common/bg_nav-active.jpg',
		sizingMethod='scale')";
}

#header div {
	width: 990px;
	margin: 0 auto;
	position: relative;
}

#logo {
	font: 0/0 a;
	left: 100px;
	width: 284px;
	height: 260px;
	bottom: -75px;
	display: block;
	position: absolute;
	background: url(../images/common/img_logo.png);
}

#header h1 {
	right: 40px;
	bottom: -40px;
	color: #B18533;
	font-size: 32px;
	position: absolute;
	letter-spacing: 2px;
}

#header h1 span,
#content h2 span {
	color: #FFF;
}

#header h1 small {
	color: #FFF;
	font-size: 22px;
}
			
/****** BOTTOM CONTENT ******/
#btmContent { 
	width: 100%;
	float: left;
}

#content1 {
	width: 990px;
	height: 416px;
	position: relative;
	text-align: center;
	margin: 30px auto 0;
	background: url(../images/content/bg_btm-content1.jpg) repeat-x center bottom;
}

#content1 h3,
.content2 h3,
.menuContainer big {
	width: 202px;
	height: 78px;
	color: #DE9E13;
	margin: 0 auto;
	display: block;
	font-size: 20px;
	line-height: 45px;
	text-align: center;
	background: transparent url(../images/content/bg_header.png);
}

#content1 dl {
	vertical-align: top;
	margin: 10px 3px 15px;
	display: inline-block;
}

#content1 dl dt {
	width: 184px;
	height: 115px;
	background: url(../images/content/bg_btm-content1.jpg) repeat-x;

	background-size: auto 100%;

	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='../images/content/bg_btm-content1.jpg',
		sizingMethod='scale');

	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='../images/content/bg_btm-content1.jpg',
		sizingMethod='scale')";
}

#content1 dl#last-child dt {
	margin: 0;
	height: 85px;
	color: #DE9E13;
	padding: 15px 0;
	font-size: 20px;
}

#content1 dl#last-child dt span {
	color: #FFF;
	margin: 5px 0 10px;
}

#content1 dl#last-child dt a {
	color: #FFF;
	padding-left: 25px;
	text-decoration: none;
	font: bold 14px Arial, Sans-serif;
	background: transparent url(../images/content/bg_link.png) no-repeat left center;
}

#content1 dl#last-child dt a:hover {
	text-decoration: underline;
}

#content1 dl dd {
	margin: 0;
	text-align: left;
	text-indent: 10px;
}

#content1 dl dd a {
	color: #FFF;
	text-align: left;
	margin-left: 5px;
	text-decoration: none !important;
	font: bold 14px/30px Arial, Sans-serif;
}

#content1 dl dd a {
	text-decoration: underline;
}

.content2 {
	width: 480px;
	height: 285px;
	margin-top: 30px;
	position: relative;
	background: url(../images/content/bg_btm-content2.jpg) repeat-x center bottom;
}

.menu-cont,
.content2 ul {
	width: 200px;
	color: #FFCC00;
}

.menu-cont li span,
.content2 ul li span {
	color: #FFF;
	font: 15px/160% Arial, Sans-serif;
}

.content2 p {
	color: #FFF;
	width: 300px;
	font-size: 19px;
	line-height: 120%;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0 20px;
}

.content2 p strong {
	color: #DF9F13;
	display: block;
	font-size: 30px;
	margin-top: 40px;
}

.content2 #printer {
	right: -60px;
	bottom: -20px;
	position: absolute;
}
			
/****** CONTENT ******/
#content { 
	float: left; 
	width: 100%;
	padding-top: 10px;
	margin: 600px 0 0;
}		

.isIndex {
	margin: 630px 0 0 !important; 
	background: transparent url(../images/content/bg_content.png) repeat-x;
}

#content #mid-img {
	margin: 0 10px;
	display: inline-block;
}	

#content h2 {
	color: #DE9E13;
	font-size: 25px;
	line-height: 120%;
	margin: 40px auto 0;
}

#content p {
	color: #FFF;
	text-align: center;
	margin: 30px auto 0;
	font: 15px/147% Arial, Sans-serif;
}

#content p.coast {
	width: 90%;
	margin: 25px auto;
	font: bold 16px 'BankGothic';
}

#content p.coast a {
	color: #FFF;
	font-weight: normal;
	text-decoration: none;
}

#content p.coast a:hover {
	text-decoration: underline;
}

#content p.coast a.contact-social {
	font: 0/0 a;
	height: 30px;
	margin: 0 25px;
	display: inline-block;
	vertical-align: middle;
}

#content p.coast a.contact-social[title="LinkedIn"] {
	width: 104px;
	background: transparent url(../images/content/img_contact-linkedin.png) no-repeat center center;
}

#content p.coast a.contact-social[title="Thumbtack"] {
	width: 165px;
	background: transparent url(../images/content/img_contact-thumbtack.png) no-repeat center center;
}

#content p.coast a.contact-social[title="Facebook"] {
	width: 100px;
	background: transparent url(../images/content/img_contact-facebook.jpg) no-repeat center center;
}

.menuContainer,
.menuContainer .menu-cont {
	width: 690px; 
}

.menuContainer { 
	height: 370px; 
	padding: 0 20px; 
	text-align: left;
	position: relative;
	margin: 20px 30px 20px 0; 
	font: 14px Arial, Tahoma, Sans-serif; 
	background: url(../images/content/bg_btm-content2.jpg) repeat-x center bottom; 

	background-size: auto 87%;

	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='../images/content/bg_btm-content2.jpg',
		sizingMethod='scale');

	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='../images/content/bg_btm-content2.jpg',
		sizingMethod='scale')";
}

.menu-cont {
	display: none;
	height: 280px;
	overflow: auto;
	list-style: none;
	margin: 70px 30px 20px 0;
}

.menu-cont ul {
	float: left;
	width: 160px;
}

.menu-cont big {
	top: 0;
	left: 210px;
	width: 275px;
	height: 78px;
	position: absolute;
	font: bold 16px/45px 'BankGothic';

	background-size: 100% 100%;	
}

.tabs {
	margin: 68px 0 0;
	padding: 5px 0 5px 15px;
	background: url(../images/content/bg_btm-content1.jpg);

	background-size: 100% 100%;

	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='../images/content/bg_btm-content1.jpg',
		sizingMethod='scale');

	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='../images/content/bg_btm-content1.jpg',
		sizingMethod='scale')";
}

.tabs .tab {
	z-index: 2;
	color: #999;
	font-size: 14px;
	text-align: right;
	line-height: 30px;
	font-weight: bold;
	position: relative;
	padding-right: 19px;
}

.tabs .tab:hover,
.tabs .tab.selected {
	color: #FFF;
	cursor: pointer;
}

.tabs .tab.selected .arrow {
	width: 21px;
	bottom: 9px;
	height: 12px;
	right: -10px;
	position: absolute;
	background: transparent url(../images/content/bg_link.png) no-repeat right center;
}

/****** FOOTER ******/
#footer {
	padding: 30px 0;
	position: relative;
	margin: 40px 0 80px;
	border-bottom: 5px solid #AE0000;
	background: #750000 url(../images/content/bg_footer.png) no-repeat center top;
}

#footer p {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#footer p a {
	color: #FFF;
	padding: 15px;
	font-size: 15px;
	text-decoration: none;
}

#footer p a:hover,
#footer small a:hover {
	text-decoration: underline;
}

#footer small {
	color: #FFF;
	display: block;
	margin: 20px 0 0;
	font: 10px/20px Arial, Sans-serif;
}

#footer small a {
	color: #DF9F13;
	padding: 0 3px;
	text-decoration: none;
}

#social {
	left: 0;
	width: 960px;
	bottom: -70px;
	display: block;
	position: absolute;
	text-align: center;
}

#social a,
#social2 a {
	font: 0/0 a;
	width: 60px;
	height: 53px;
	margin: 0 10px;
	text-indent: -999em;
	padding: 0 !important;
	display: inline-block;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center;
}

#social2 a {
	margin: 0 !important;
}

#social a[title="Facebook"],
#social2 a[title="Facebook"] {
	background-image: url(../images/content/img_facebook.png);
}

#social a[title="LinkedIn"],
#social2 a[title="LinkedIn"] {
	background-image: url(../images/content/img_linkedin.png);
}

#social a[title="Thumbtack"],
#social2 a[title="Thumbtack"] {
	background-image: url(../images/content/img_thumbtack.png);
}


/************************************************************
 ****************   For CSV Database Use   ******************
 ************************************************************

/*** Fancybox Gallery ***/

#content .gallery { 
	width: 974px; 
	margin: 25px auto 0; 
	text-align: center;
}
	
#content .gallery li { 
	position: relative;
	display: inline-block; 
}
			
#content .gallery li a img { 
	margin-bottom: 25px; 
}


/*** Fancybox Pagination ***/

#content .page_navigation { 
	text-align: center; 
	margin: 0 0 25px 361px; 
	font: 14px Arial, Sans-serif; 
}

#content .page_navigation a, .ellipse { 
	color: #FFF; 
	float: left; 
	padding: 5px; 
	margin: 0 5px; 
	display: inline; 
	background: #750000;
	text-decoration: none; 
	border: 1px solid #111; 
}
		
#content .page_navigation a:hover, 
#content .page_navigation a.active_page { 
	color: #FFF; 
	float: left; 
	margin: 0 5px; 
	display: inline; 
	border: 1px solid #FC9; 
	background-color: #DE9E13; 
}


/*** Thumbnail Easing ***/

#content .gallery li.mid { 
	margin-left: 130px; 
}

#content .gallery li a {
	float: left; 
	width: 150px; 
	height: 150px; 
	position: relative; 
	margin: 0 30px 30px 0; 
}

#content .gallery li a span {
	top: 0; 
	left: 0; 
	float: left; 
	width: 142px; 
	height: 142px; 
	position: absolute; 
	border: 4px solid #FFF;
}
			
#content .gallery li a:hover span { 
	border: 4px solid #DE9E13; 
	background: url(../images/gallery/misc/img_enlarge.jpg)
}

/************************************************************/