/* default */
hr.hide-line{ padding:0; margin:0; display:none;}
/* Body */
body{ margin:0; padding:0; text-align: center; background:#0F3715; 
color:#FFF; font:normal 16px Arial;}

/* main */
#main2{ position:relative; background:url(../images/mainBg.jpg) top center no-repeat; width:100%; }
#main3{ position:relative; background:url(../images/mainBg2.jpg) top center repeat-x; width:100%; }
#main{ position:relative; margin:0 auto; padding:0;  height:100%; text-align:left; width:980px; }

/* header */
#header{ position:absolute; width:980px; top:0; left:0;}
		#header .logo{ position:absolute; top:75px; left:10px;}		
		#header h3{ font-size:24px; position:absolute; margin:10px 0 0 5px;}
		#header span.skateboard{ display:block; background:url(../images/skate-board.png) no-repeat; position:absolute; width:389px; height:222px; margin:508px 0 0 241px; z-index:10;}
		#header ul{ position:absolute; list-style:none; margin:30px 0 0 665px;}
		#header ul li{ text-align:center;}
		#header ul li a{ background:url(../images/navBg.jpg) no-repeat; width:310px; font-size:18px; color:#FFF; height:50px; padding:20px 0 0 0px; display:block;}
		#header ul li a:hover, #header ul li a.active-menu{ background:url(../images/navBg-hover.jpg) no-repeat;}
		#header ul li.first a{ background:url(../images/first.png) no-repeat; width:310px; height:50px; display:block; font-size:18px; color:#FFF;}
		#header ul li.first a:hover, #header ul li.first a.active-menu{ background:url(../images/first-hover.png) no-repeat;}
		#header ul li.last a{ background:url(../images/last.png) no-repeat; width:310px; height:50px; display:block; font-size:18px; color:#FFF;}
		#header ul li.last a:hover, #header ul li.last a.active-menu{ background:url(../images/last-hover.png) no-repeat;}
		#header .cont-top{ position:absolute; margin:619px 0 0; background:transparent url('../images/img_shadow.png') no-repeat center bottom; padding-bottom:60px; }
		#header .cont-top dl{ float:left; margin:0; padding:0;}
		#header .cont-top dl dd{ width:490px; margin:0; padding:0;}
		#header .cont-top dl dt{ background:url(../images/bg.png) no-repeat; width:496px; height:82px; margin:-4px 0 0 -21px;}
		#header .cont-top dl dt strong{ text-align:center; font-size:25px; display:block; color:#FFF; padding:10px 0 0 0px;}

/* sidebar */
#sidebar { float:right; margin:250px 5px 10px 0; width:310px; }
.indexed { margin:960px 5px 0 0 !important; }	
.faq-sidebar { margin:425px 5px 0 0 !important; }		
	#sidebar .bg{ background:url(../images/cont-bg.png) no-repeat; width:310px; height:220px;}
			#sidebar .bg h3{ text-align:center; font-size:20px; padding:15px 0 15px 0px;}
			#sidebar .bg p{ color:#4A326A; font:normal 15px Arial; padding:5px 0 0 10px;}
			#sidebar .bg h4{ color:#12461B; font-size:18px; padding:5px 0 0 10px;}
			#sidebar .bg h5{ color:#4A326A; font-size:45px; text-align:center;}
			#sidebar .bg small{ color:#009900; font-size:14px; text-align:center; display:block;}

/* content */
#content{ float:left; margin:250px 0 10px; width:660px; text-indent:0 0 1px #000; }			
.indexed { margin:960px 0 10px !important;  }
.faq-contents { margin:250px 0 10px !important; }
	#content h1{ font-size:25px;}
	#content p{ line-height:180%; padding:10px 0 10px 0px; }
	
	#content #faq-title { display:block; margin:20px 0; }
	
	#content .gallery { 
		width: 800px; 
		margin: 0 auto; 
		text-align: center;
	}
		
	#content .gallery li { 
		display: inline; 
		position: relative;
		margin: 0 25px 0 0; 
	}
	
	.gallery li a {
		float: left; 
		width: 180px; 
		height: 155px; 
		position: relative; 
	}

	.gallery li a span {
		top: 0; 
		left: 0; 
		float: left; 
		width: 170px; 
		height: 145px; 
		position: absolute; 
		border: 5px solid #DDD;
	}
				
	.gallery li a:hover span { 
		border: 5px solid #0A0; 
		background: transparent url('../images/content/misc/enlarge.png') no-repeat center top;
	}
	
#splash_body { background:#123A18; width:100%; height:100%;}
	#splash_container { margin:25px auto; padding-top:25px; width:800px; height:700px; text-align:center; background:#FFF; border-radius:10px; }
		.splash_content { color:#333; font:18px/30px Arial, Sans-serif; padding:0 50px; text-shadow:0 0 1px #FFF; }
		#splash_confirm { display:block; width:294px; height:104px; background:transparent url('../images/btn_splash-confirm.png') no-repeat; float:left; margin-left:50px; }
		#splash_cancel { display:block; width:294px; height:104px; background:transparent url('../images/btn_splash-cancel.png') no-repeat; float:right; margin-right:50px; }
		
	
/* footer */
#footerBg{ background:url(../images/footerBg.jpg) center no-repeat; width:100%; height:89px; margin-top:25px; }
#footer{ width:980px; margin:0 auto;}
	#footer p.navi{ float:left; color:#FFF; padding:15px 0 5px 0px;}
	#footer p.navi a{ font:normal 12px Arial; color:#FFF;}
	#footer p.navi a:hover{ text-decoration:underline;}	
	#footer p.copyryt{ float:left; clear:left; font:normal 12px Arial; color:#FFF;}
	#footer p.visa{ float:right; width:242px; height:41px; background:url(../images/visa.png) no-repeat;}