@font-face {font-family:"Hanford Script";src:url("../fonts/HANFORD_.eot?") format("eot"),url("../fonts/HANFORD_.woff") format("woff"),url("../fonts/HANFORD_.ttf") format("truetype"),url("../fonts/HANFORD_.svg#HanfordScript") format("svg");font-weight:normal;font-style:normal;}

@font-face {font-family:"CoolveticaRg-Regular";src:url("../fonts/coolvetica_rg.eot?") format("eot"),url("../fonts/coolvetica_rg.woff") format("woff"),url("../fonts/coolvetica_rg.ttf") format("truetype"),url("../fonts/coolvetica_rg.svg#CoolveticaRg-Regular") format("svg");font-weight:normal;font-style:normal;}

.center { text-align:center; }
.block { display:block; }


*{ padding:0; margin:0; }
h1,h2,h3,h4,h5{ padding:0; margin:0; }
a{ text-decoration:none; }
a img{ text-decoration:none; border:none; }
.hidden{ text-indent:-999em; overflow:hidden; }
hr{ padding:0; margin:0; display:none; }
.line{ display:block;  background:url(../images/line.jpg) bottom repeat-x; width:710px; height:2px; padding-bottom:40px;}
.nojavascript{
position:absolute;
z-index:1;
color:red;
background:#fff;
font:bold 12px 'Trebuchet MS',Arial,georgia, San-serif;
border:2px red dashed;
width:990px;
top:0;
left:50%;
margin-left:-495px;
}
/* Clearfix */
.clearfix{
display: block;
}
.clearfix:after{
content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
	html[xmlns] .clearfix{ display: block; }
	* html .clearfix{ height: 1%; }

.clear{ 
clear:both; 
font-size:1px;
}

.left { float:left;}
.right { float:right;}

/* default */
hr.hide-line{ padding:0; margin:0; display:none;}
/* Body */
body{ margin:0; padding:0; text-align: center; color:#333; background:url(../images/body.jpg) top center no-repeat fixed; font:normal 12px Georgia; }
#inner #content{ margin:550px 0 10px 20px;}
#inner #sidebar{ margin:550px 22px 10px 0;}
.btm{ background:url(../images/btm.png) center no-repeat; width:992px; height:10px; display:block; margin:0 auto;}
/* main */
#main{ position:relative; margin:0 auto; padding:0; text-align:left; width:992px; height:100%; background:url(../images/mainbg.png) repeat-y;}

/* header */
#header{ position:absolute; width:992px; height:175px; top:0; left:0; background:url(../images/headerbg.jpg) top center no-repeat fixed;}
	#header h2{ position:absolute; text-align:right; font:bold 14px Georgia; color:#FFF; top:20px; right:20px; }
	#header h2 span{ font:bold 22px Georgia;}
	#header h2 a { color:#FFF; text-decoration:none; }
		#header h2 a:hover { text-decoration:underline; }
	#header	.logo{ position:absolute; top:0px; left:10px; z-index:1;}
	#header .banner{ position:absolute; background:url(../images/banner.jpg) no-repeat; width:980px; height:350px; margin:172px 0 0 6px;}
	#header .banner h3{ position:absolute; font-family:"Hanford Script"; margin:35px 0 0 20px; color:#20406C; font-size:24px;}
	#header .banner h4{ position:absolute; margin:295px 0 0 20px; color:#20406C; font-size:16px;}
	#header .banner p{ position:absolute; margin:70px 0 0 20px; color:#000; font:normal 15px Arial; width:380px; line-height:180%;}
	#header .banner p.view{ position:absolute; margin:245px 0 0 220px;}
	#header .banner p.view a{ display:block; background:url(../images/readmore.png) no-repeat; font:bolder italic 13px/43px Georgia, Serif; color:#FFF; width:160px; height:51px; padding-left:3px; }
	#header .banner p.view a:hover{ color:#333;}
	
	#header .nav{ width:735px; height:45px; position:absolute; margin:112px 0 0 250px; background:url(../images/navbg.png) no-repeat;}
		#header ul{ margin:0; padding:0; list-style:none; position:absolute; width:735px; height:45px; }
		#header ul li{ float:left; padding-top:0px; background:url(../images/line-nav.jpg) no-repeat;}
		#header ul li.second a{ width:157px; letter-spacing: -1px; }
		#header ul li a{ display:block; width:144px; height:35px; text-decoration:none; text-align:center; padding:5px 0 0 0px; color:#333; font:bold 12px Georgia; text-transform:uppercase; }
		#header ul li a span{ padding-top:7px; display:block;}
		#header ul li a:hover, #header ul li a.active-menu{ background:url(../images/hover.png) no-repeat; height:45px;}
		#header ul li.home a:hover, #header ul li.home a.active-menu{ background:url(../images/home-hover.png) no-repeat;}
		#header ul li.second a:hover, #header ul li.second a.active-menu{ background:url(../images/second-hover.png) no-repeat;}
		#header ul li.last a:hover, #header ul li.last a.active-menu{ background:url(../images/last-hover.png) no-repeat left top; }
	
	#header .cont-top{ position:absolute; width:950px; margin:550px 0 20px 20px;}
	#header .cont-top dl{ float:left; padding:10px; width:202px; height:152px;}
	#header .cont-top dl.seafoods{ width:202px; height:152px; background:url(../images/01bg.jpg) no-repeat;}
	#header .cont-top dl.salad{width:202px; height:152px; background:url(../images/02bg.jpg) no-repeat; margin:0 0 0 19px;}
	#header .cont-top dl.soup{width:202px; height:152px; background:url(../images/03bg.jpg) no-repeat; margin:0 0 0 19px;}
	#header .cont-top dl.sandwich{width:202px; height:152px; background:url(../images/04.jpg) no-repeat; margin:0 0 0 19px;}
	#header .cont-top dl dd{ padding:0; margin:0;}
	#header .cont-top dl dt{ font:normal 16px Georgia; color:#D6D6D6; padding:5px 0 0 0px; margin:0;}
	
		
/* sidebar */
#sidebar{ float:right; margin:770px 22px 10px 0; width:222px;}			
	#sidebar h3{ background:url(../images/txtbg.png) no-repeat; font-family:"Hanford Script"; width:217px; height:44px; color:#FFF; font-size:21px; padding:8px 0 0 5px;}
	#sidebar h3 a{ color:inherit;}
	#sidebar .bg{ background:url(../images/bg.jpg) no-repeat; width:222px; height:217px; margin:15px 0 0 0px;}
	#sidebar p{ font:normal 14px Georgia; text-align:center; color:#FFCC00; padding:5px 0px;}
	#sidebar h4{ font:normal 22px Georgia; text-align:center; color:#FFCC00;}
	#sidebar p a{ color:#FFCC00;}
	#sidebar p a:hover{ text-decoration:underline;}
	#sidebar p span{ color:#FFF;}
	#sidebar p.visa{ display:block; background:url(../images/visa.png) no-repeat; width:202px; height:46px; margin:5px 0 0 7px;}
			
	#sidebar #contact-btn { display:block; width:150px; height:51px; background:transparent url('../images/readmore2.png'); margin:10px auto; font:bolder italic 16px/40px Georgia, Serif; color:#FFF; padding-left:13px; }		
		#sidebar #contact-btn:hover { color:#333; }
		
/* content */
#content{ float:left; margin:770px 0 10px 20px; width:710px; }
	#content h1{font-family:"Hanford Script"; color:#20406C; float:left; font-size:30px; margin-bottom:20px;}
	#content h2{ font:normal 15px Georgia; color:#333; float:right; padding:10px 0 0 0px;}
	#content h1 span{ width:182px; height:30px; }
	#content h1 strong{font-family:"CoolveticaRg-Regular"; color:#333; font-size:25px;}
	#content p{ padding-bottom:10px; line-height:250%;}
	#content p strong{ font-size:11px; font-weight:bold;}
	#content p.readmore{ float:right; margin:25px 0 0 0px; }
	#content p.readmore a{ display:block; background:url(../images/readmore.png) no-repeat;  font-family:"Hanford Script"; color:#FFF; font-size:19px; width:158px; height:44px; font-weight:bolder; padding:7px 0 0 5px;}
	#content p.readmore a:hover{ color:#333;}
	#content a.coupon{ margin:0 20px 0 0; padding:0; float:left;}
	#content a.coupon:hover img{ opacity:0.9;}

	.menu-title { text-align:center; display:block; margin:25px 0 15px; font-size:16px; }
	.menu { padding:0; margin:0 auto 40px; width:600px; list-style:none; }
		.menu .menu-display { height:8px; border-bottom:2px dotted #222; margin-bottom:40px; }
			.menu .menu-display .menu-item, .menu .menu-display .price{ display:block; padding:0 5px; margin:0; background:#ECE9D8; }
			.menu .menu-display .menu-item { float:left; text-transform:uppercase; }
			.menu .menu-display .menu-item2 { font-size:11px; display:block; color:#787878; float:left; padding:0 5px; background:#ECE9D8; font-style:italic; } 
			.menu .menu-display .price { float:right; }
			.menu .menu-display .menu-desc { padding-left:25px; font-size:11px; display:block; margin-top:3px; color:#787878; }
	
	.reviews { margin:20px auto 0; width:648px; }
		.review-top, .review-btm { width:648px; display:block; }
		.review-top { height:10px; background:transparent url('../images/content/bg_testimony_top.png'); }
		.review-btm { height:45px; background:transparent url('../images/content/bg_testimony_btm.png'); }
		.review { background:transparent url('../images/content/bg_testimony_mid.png') repeat-y; padding: 0 24px; width:600px; }
			.review em, .review strong { display:block; }
	
	
/* footer */
#footerwrap{ background:url(../images/ftrbg.png) 180px 20px no-repeat; width:100%; margin:25px auto 0 auto; height:89px;}
#footer{ width:992px; margin:0 auto; height:100px;}
	#footer p.ftrnav{color:#333; padding:0 0 20px 0px; }
	#footer p.ftrnav a{ color:#333;  font:normal 16px Georgia; padding-left:10px;}
	#footer p.ftrnav a:hover{ color:#FFF; text-decoration:underline;}
	#footer p.copyright{ color:#FFF; }
	
	
/************************************************************
 ****************   For CSV Database Use   ******************
 ************************************************************

/*** Fancybox Gallery ***/

#content .gallery { 
	width: 800px; 
	margin: 0 auto; 
	text-align: center;
}
	
#content .gallery li { 
	display: inline; 
	position: relative;
}
			
#content .gallery li a img { 
	margin-bottom: 25px; 
}


/*** Fancybox Pagination ***/

#content .page_navigation { 
	float: right;
	text-align: center;
	margin: 0 15px 25px 0;
	font: 14px Arial, Sans-serif; 
}

#content .page_navigation a, .ellipse { 
	float: left; 
	padding: 5px; 
	margin: 0 5px; 
	color: #ECE9D8; 
	display: inline; 
	font-style: italic;
	background: #4B98E8; 
	font-family: Georgia;
	border: 1px solid #4B98E8; 
}
		
#content .page_navigation a:hover, 
#content .page_navigation a.active_page { 
	color: #333; 
	float: left; 
	margin: 0 5px; 
	display: inline; 
	border: 1px solid #FC0; 
	background-color: #FC0; 
}


/*** Thumbnail Easing ***/

#content .gallery li.mid { 
	margin-left: 130px; 
}

#content .gallery li a {
	float: left; 
	width: 165px; 
	height: 140px; 
	position: relative; 
	margin: 0 10px 10px 0; 
}

#content .gallery li a span {
	top: 0; 
	left: 0; 
	float: left; 
	width: 155px; 
	height: 130px; 
	position: absolute; 
	border: 5px solid #FFF;
}
			
#content .gallery li a:hover span { 
	border: 5px solid #FFF; 
	background: #4B98E8 url('../images/gallery/misc/bg_enlarge.png') no-repeat bottom;
}

/***********************************************************/