/* default */
h1,h2,h3,h4,h5 { 
	margin: 0; 
	padding: 0;
}	

.hidden { 
	overflow: hidden;
	visibility: hidden;
	text-indent: -999em; 
}

hr.hide-line { 
	margin: 0; 
	padding: 0; 
	display: none;
}

.clearfix:after { 
	height: 0; 
	clear: both;
	content: "."; 
	display: block; 
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hide from IE Mac \*/
.clearfix { 
	display: block;
}
/* End hide from IE Mac */


/* nojavascript */
.nojavascript { 
	top: 0;
	left: 50%;
	color: Red; 
	z-index: 1; 
	width: 990px;
	background: #FFF;
	position: absolute; 
	margin-left: -495px; 
	border: 2px dashed Red;
	font: bold 12px 'Trebuchet MS', Arial, San-serif;
}


/***** CLASSES *****/
.left { 
	float: left;
}

.right {
	float: right;
}.alignright {	float: right;		margin: 0 0 15px 30px;}

.center {
	text-align: center;
}

.block {
	display: block;
}

.clear { 
	clear: both;
}

.debug {
	border: 1px solid Green;
}


/****** BODY ******/
body { 
	margin: 0;
	padding: 0;
	color: #635D58;	
	text-align: center; 
	font: 100% Arial, Helvetica, Sans-serif; 
	background: #FFF url('../images/common/bg_body.png') repeat-x bottom;
}

/****** MAIN ******/
#main {
	margin: auto;
	width: 960px;	
}

/****** HEADER ******/
#header { 
	margin: 20px auto;
}

#header h1 {
	width: 290px;
	height: 125px;
	text-indent: -999em;
	background: transparent url('../images/common/img_logo.png');
}

#header li {
	list-style-type: none;
}

#header-call {
	font-size: 25px;
	line-height: 100px;
}

#header-call span {
	color: #5FB2E5;
	padding-left: 10px;
}

#menu-navigation {
	padding: 0;
	height: 95px;
	margin: 10px 0 0;
	list-style: none;
}

#menu-navigation li {
	float: left;
	width: 111px;
	height: 75px;
	display: block;
	margin: 0 15px;
	background: transparent url('../images/common/bg_nav-reflect.png') repeat-x bottom;
}

#menu-navigation li:hover{
	height: 95px;
}

#menu-navigation li:first-child {
	margin: 0 15px 0 0;
}

#menu-navigation li:last-child {
	margin: 0 0 0 15px;
}

#menu-navigation li a {
	color: #FFF;
	width: 111px;
	height: 40px;
	display: block;
	font-size: 14px; 
	background: #5FB2E5;
	text-decoration: none;
	text-transform: uppercase;
}

#menu-navigation li a {
	padding: 6px 0;
}

#menu-navigation li#menu-item-65 a,
#menu-navigation li#menu-item-66 a,
#menu-navigation li#menu-item-67 a,
#menu-navigation li#menu-item-70 a {
	line-height: 40px;
}

#menu-navigation li#menu-item-65:hover a,
#menu-navigation li#menu-item-65 a:hover,
#menu-navigation li#menu-item-66:hover a,
#menu-navigation li#menu-item-66 a:hover,
#menu-navigation li#menu-item-67:hover a,
#menu-navigation li#menu-item-67 a:hover,
#menu-navigation li#menu-item-70:hover a,
#menu-navigation li#menu-item-70 a:hover {
	line-height: 50px;
}

#menu-navigation li:hover a,
#menu-navigation li a:hover {
	width: 141px;
	height: 50px;
	padding: 16px 0;
	font-size: 20px;
	margin: -10px 15px 0 -15px;
}
		
/****** CONTENT ******/
#content { 
	width: 260px;
	padding-bottom: 25px;
}

#content.full {
	width: 100%;
	min-height: 200px;
}	

#content p {
	color: #635D58;
	font-size: 16px;
	margin: 0 0 20px;
	line-height: 160%;
	text-align: justify;
}

#content strong {
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
}

#content h2,
#content h3 {
	color: #5FB2E5;
	font-size: 25px;
	text-align: left;
	margin-bottom: 25px;
	padding-bottom: 15px;
	font-variant: small-caps;
	text-shadow: 2px 2px 2px #FFF;
	border-bottom: 1px solid #5FB2E5;
}

#content ul {
	padding: 0;
	float: left;
	width: 300px;
	text-align: left;
	margin-left: 20px;		
	list-style-image: url('../images/content/list-icon1.png');	
}

#content ul li a {	
	color: #635D58;		
	text-decoration: none;
}

#content .health-list li {
	margin-bottom: 5px;
}

#content #appointment {
	color: #799D0D;
	padding: 0 10px;
	margin: 15px auto;
	background: #C2E75C;
	display: inline-block;
	text-decoration: none;
	border: 1px solid #9AC810;
	font: 18px/50px 'CenturyGothicBold';
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#banner {
	width: 678px;
	height: 315px;
	position: relative;
	background: transparent url('../images/common/bg_banner-container.png');
}


/****** RESPONSIVE SLIDER ******/
.slide-thumbnail {
	float: right !important;
	margin: 15px 0 0 !important;
}	

.responsive-slider.flexslider {
	float: right !important;
	width: 686px !important;
}

.responsive-slider.flexslider .slide-title a  {
	left: 0 !important;
	width: 250px !important;
	color: #635D58 !important;
	font-size: 17px !important;
	text-align: left !important;
	background: none !important;
	line-height: 30px !important;
	margin: 30px 0 0 20px !important;
}

.responsive-slider.flexslider .slide-title a  span {
	display: block;
	color: #5FB2E5;
	font-size: 24px;
	margin-bottom: 10px;
}

.responsive-slider.flexslider .slide-title a  big {
	display: block;
	color: #5FB2E5;
	font-size: 33px;
	margin-top: 15px;
	text-transform: uppercase;
}

.flex-direction-nav {
	display: none;
}

.responsive-slider.flexslider .flex-control-nav li a {
	float: left;
	width: 21px;
	height: 21px;
	display: block;
	color: transparent;
	background-color: transparent;
	text-indent: -999em !important;
	background-position: left, top;
	background-image: url(../images/common/img_slider_select.png);
}

.responsive-slider.flexslider .flex-control-nav li a:hover,
.responsive-slider.flexslider .flex-control-nav li a.active {
	background-position: right, top;
}


/****** CONTACT FORM 7 ******/
.wpcf7 {
	float: left;
	width: 400px;
}


/****** ACCORDION ******/
.accordionButton {	
	color: #635D58;		
	margin: 15px 0;		
	cursor: pointer;
	font-size: 17px;
	text-align: left;
	font-weight: bold;
	padding: 0 0 0 25px;		
	background: transparent url('../images/content/accordion-button.jpg') no-repeat left center;	
}

.accordionButton:hover {
	text-decoration: underline;
}

.accordionContent {
	text-align: left;
	line-height: 150%;
	margin-left: 30px;
}

		
/****** BOTTOM BAR ******/
#btm-bar { 
	color: #FFF;
	width: 100%;
	background: #5FB2E5;
}

#btm-wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 15px 0;
}

#btm-wrapper div {
	width: 280px;
	text-align: left;
}

#btm-wrapper div h3 {
	font-size: 20px;
	margin-bottom: 10px;
	font-family: 'CenturyGothicBold';
}

#btm-wrapper div form label,
#btm-wrapper div form input[type="text"] {
	font-size: 17px;
	line-height: 120%;
}

#btm-wrapper div form input[type="text"] {
	width: 270px;
	padding: 5px;
	color: #635D58;
	display: block;
	margin-top: 10px;
}

#btm-wrapper div strong {
	color: #9AC810;
	font-size: 18px;
	text-shadow: 1px 1px 1px #635D58;
}

#btm-wrapper div .social {
	width: 29px;
	height: 28px;
	text-indent: -999em;
	display: inline-block;
	background-color: transparent;
	background-image: url('../images/common/icn_social.png');
}

#btm-wrapper div .social[title="Twitter"] {
	margin: 0 10px;
	background-position: 58px top;
}

#btm-wrapper div .social[title="Youtube"] {
	background-position: right top;
}

/****** FOOTER ******/
#footer {
	color: #799D0C;
	padding: 15px 0;
	font-size: 12px;
}