div.tabs{
    list-style: none;
    width: 300px;
    cursor: pointer;
    float:left;
    margin-top: 20px;
	margin-left: 28px;
    left: 0px;
    z-index: 2;
}

div.tabs div.tab{
    display: block;
	width: 299px;
    height: 35px;
    background: #E90;
    border: #d6d6d2 solid 1px;
    border-top: none;
    position: relative;
   	color: #08D;
}

div.tabs div.link{
	padding-left: 25px;
	padding-top:10px;
	font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
    font-size: 14px;
	font-weight:bold;
}

div.tabs div.tab.selected, div.tabs div.tab:hover  {
    color: #FFCC00;
	background-color: #005B00;
    border-right-color: #7c7c77;
}	

div.tabs div.tab.first{
	border-top: #dbdbb7 solid 1px;
	-moz-border-radius-topleft: 13px;
	border-top-left-radius: 13px;
}

div.tabs div.tab.last{
	-moz-border-radius-bottomleft: 13px;
	border-bottom-left-radius: 13px;
}

div.tabs div.tab div.arrow{
    position: absolute;
    background: url(../images/content/img-arrow.png) no-repeat;
    height: 35px;
    width: 12px;
    left: 100%;
    top: 0px;
    display: none;
}

div.tabs div.tab.selected div.arrow{
    display: block;
}