@font-face {
    font-family: 'English111AdagioBTRegular';
    src: url('../fonts/e111agio-webfont.eot');
    src: url('../fonts/e111agio-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/e111agio-webfont.woff') format('woff'),
         url('../fonts/e111agio-webfont.ttf') format('truetype'),
         url('../fonts/e111agio-webfont.svg#English111AdagioBTRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


*{ padding:0; margin:0; }
h1,h2,h3,h4,h5{ padding:0; margin:0; }
a{ text-decoration:none; }
a img{ text-decoration:none; border:none; }
.hidden{ text-indent:-999em; overflow:hidden; }
hr{ padding:0; margin:0; display:none; }
.nojavascript{
position:absolute;
z-index:1;
color:red;
background:#fff;
font:bold 12px 'Trebuchet MS',Arial,georgia, San-serif;
border:2px red dashed;
width:990px;
top:0;
left:50%;
margin-left:-495px;
}
/* Clearfix */
.clearfix{
display: block;
}
.clearfix:after{
content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
	html[xmlns] .clearfix{ display: block; }
	* html .clearfix{ height: 1%; }
	
.clear{ 
clear:both; 
font-size:1px;
}

.left { float:left; }

div.background { position:absolute; left:0px; top:0px; z-index:-1; margin:0 auto; background:center; }
div.background img { position:fixed; list-style: none; top:0px; }
div.background ul li.show { z-index:500 }
.test{background:url(../images/bg.png) repeat-y; height:55px; z-index:-1; width:272px; display:block; position:absolute; margin:0 auto 0 217px;}
.top{ display:block; background:url(../images/top.jpg) center no-repeat; margin:0 auto 5px auto; width:190px; height:15px;}
.btm{display:block; background:url(../images/btm.jpg) center no-repeat; margin:5px auto 0 auto; width:190px; height:15px;}

/* default */
hr.hide-line{ padding:0; margin:0; display:none;}
/* Body */
body{ font: 100% Arial, Helvetica, sans-serif; margin:0; padding:0; text-align: center; color:#000; height:100%; background-color:#DDD;}

/* main */
#main2{ background: transparent url(../images/bg-nav-two.png) repeat-x; width:100%; height:100%;}
#main{ margin:0 auto; padding:0; height:100%; text-align:left; width:990px; }

.background { position:absolute; top:0; left:0; }
	.background .banners { width:100%; height:100%; }

/* header */
#header{ width:990px; margin:0 auto; height:55px; position:relative; }
/* #header .logo{ position:absolute; top:20px; left:40px;} */
#header ul{ margin:0; padding:0; list-style:none; position:absolute; top:10px; left:42%; text-align:center;}
	#header ul li{ float:left; margin-right:28px; }
	
	#header ul li:last-child { margin-right:0; }

	#header ul li a{ display:block; text-decoration:none; color:#131A09; padding:0; font-family:'GreatVibesRegular'; font-size:25px; }
	#header ul li a:hover, #header ul li a.active-menu{ color:#FFF; text-shadow:1px 1px 5px #000; }
	
/* sidebar */
#sidebar{ position:absolute; margin:0; width:368px; background:url(../images/bg-two.png) repeat-y; height:100%; left:12%; top:0; padding:0 16px; }			
	.logo { margin:10px auto 0; width:300px; display:block; }
	#sidebar .wrap { width:348px; margin:0 auto; }
	#sidebar .wrap h1{ text-align:center; font-family: 'English111AdagioBTRegular'; color:#8C6419; font-size:35px; }
	#sidebar .wrap p, #content p{ font:normal 15px Arial; text-align:center; line-height:170%; color:#8C6419; }
	#sidebar .sn{ position:absolute; bottom:10px; left:35%; width:200px; z-index:3; }
		#sidebar .sn a img.mid { margin:0 15px;  }
			
/* content */
#content { position:absolute; height:65%; top:75px; left:44%; padding:18px 0 15px; width:550px; border:1px solid #9A874C; overflow:auto; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; behavior: url('PIE.htc'); }		
	#content p { text-align:left; margin:0 8px 0 8px; }

/* footer */
#footerBg{ background: transparent url(../images/bg-nav-two.png) repeat-x; width:100%; height:55px; position:absolute; z-index:2; bottom:0; }
#footer{ width:630px; margin:0 auto; padding-left:30%; }
	#footer p.ftrnav{ color:#FFF; padding:5px 0px;}
	#footer p.ftrnav a{ color:#FFF; font:normal 12px Arial; padding-left:5px;}
	#footer p.ftrnav a:hover{ text-decoration:underline;}
	#footer p.copyryt{ color:#FFF; font:normal 12px Arial;}