/* default */
h1,h2,h3,h4,h5 { 
	margin: 0; 
	padding: 0;
}	

.hidden { 
	overflow: hidden;
	text-indent: -999em; 
}

hr.hide-line { 
	margin: 0; 
	padding: 0; 
	display: none;
}

.clearfix:after { 
	height: 0; 
	clear: both;
	content: "."; 
	display: block; 
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hide from IE Mac \*/
.clearfix { 
	display: block;
}
/* End hide from IE Mac */


/* nojavascript */
.nojavascript { 
	top: 0;
	left: 50%;
	color: Red; 
	z-index: 1; 
	width: 990px;
	background: #FFF;
	position: absolute; 
	margin-left: -495px; 
	border: 2px dashed Red;
	font: bold 12px 'Trebuchet MS', Arial, San-serif;
}


/***** CLASSES *****/
.left { 
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.block {
	display: block;
}

.clear { 
	clear: both;
}

.debug {
	border: 1px solid Green;
}


/****** BODY ******/
body { 
	margin: 0;
	padding: 0; 
	color: #900;
	background: #FFF;
	text-align: center; 
	font: 100% Arial, Helvetica, Sans-serif; 
}


/****** MAIN ******/
#main {
	padding: 0;  
	width: 500px;
	max-height: 800px; 
	margin: 0 auto; 
	text-align: left; 
	min-height: 222px;
	position: relative; 
	border-top: 3px solid #000;
	background: url('../images/common/bg_top-contents.jpg') no-repeat center top;
}


/****** HEADER ******/
#header { 
	top: 0; 
	left: 0;
	width: 500px;
	height: 251px;	
	position: absolute; 
	background: transparent url('../images/common/img_banner.png') no-repeat center 25px;
}

#logo {  
	top: 28px;
	left: 75px;
	border: none;
	position: absolute;
}

#header-contact {
	top: 20px;
	color: #DDD;
	right: 75px;
	text-align: right;
	position: absolute;
	font: 7px/9px Arial, Sans-serif;
}

#navigation {
	padding: 0;
	width: 500px;
	height: 31px;
	list-style: none;
	margin: 222px 0 0;
	background: url('../images/common/bg_nav.png') repeat-x;
}

#navigation li,
#navigation li a { 
	float: left;
	width: 100px;
	height: 31px;
}

#navigation li a {
	color: #222;
	text-align: center;
	text-decoration: none;
	font: 10px/30px Tahoma, Sans-serif;
}

#navigation li a:hover,
#navigation li.active-menu a {
	color: #97570F;
	background: url('../images/common/bg_nav-active.png') no-repeat center 2px;
}

			
/****** BOTTOM BAR ******/
#bottom-bar { 
	margin: 0; 
	float: left; 
	width: 500px;
	height: 125px;	
	background: url('../images/common/bg_bottom-contents.jpg') no-repeat center bottom;
}

.btm-container {
	color: #FFF;
	width: 160px;
	margin: 15px 0;
	text-align: center;
	font: 10px Tahoma, Sans-serif;
}

.btm-container #image-container {
	width: 75px; 
	margin: 10px auto;
}

.btm-container #image-container .index-images {
	border: none;
	margin-bottom: 5px;
}

.btm-container #contact-info {
	color: #FFF;
	width: 140px; 
	margin: 10px auto;
	font: 11px/17px Tahoma, Sans-serif;
}

h2 {
	color: #FFF;
	width: 101px;
	height: 37px;
	margin: 0 auto;
	padding: 3px 7px 0 35px;
	font: 13px Tahoma, Sans-serif;
	background: transparent url('../images/common/bg_contact-banner.png');
}
			
			
/****** CONTENT ******/
#content { 
	float: right; 
	width: 470px;
	background: #FFF;
	margin: 251px 0 0;
	min-height: 155px;
	max-height: 384px;
	position: relative;
	padding: 15px 15px 2px;
}			

h1 { 
	color: #FFF;
	width: 320px;
	height: 24px;
	margin: 0 0 5px;
	padding-left: 12px;
	font: bold 9px/22px Arial, Sans-serif;
	background: url('../images/content/bg_header.png');
}

p {
	color: #222;
	width: 320px;
	margin: 10px 0 0;
	font: 10px/18px Tahoma, Sans-serif;
}

#rings {
	left: 5px;
	top: 110px;
	position: absolute;
}

#testimonial-container {
	width: 470px; 
	margin: 20px 0 0; 
	padding-left: 110px;
}

.testimonials {
	width: 470px;
	font-size: 9px;
	margin-top: 3px;
	padding: 10px 0;
	border-bottom: 3px double #AFA492;
}

.testimonials em {
	color: #848955;
	font-size: 9px;
	text-align: right;
	line-height: 12px;
}



/****** FOOTER ******/
#footer {
	color: #999;
	width: 470px;
	height: 25px;
	margin: 0 auto;
	padding: 0 15px;
	background: #000;
	font: 9px/25px Tahoma, Sans-serif;
}


/************************************************************
 ****************   For CSV Database Use   ******************
 ************************************************************/

/*** Fancybox Gallery ***/

#content .wedding-gallery {
	width: 290px;
	margin:20px 0 0 !important;
	padding-left: 0 !important;
}

#content .gallery,
#content .video-gallery,
#content .wedding-gallery {  
	text-align: center;
	padding-left: 32px;
	margin: 20px auto 0; 
}
	
#content .gallery li,
#content .video-gallery li,
#content .wedding-gallery li { 
	display: inline; 
	position: relative;
}
			
#content .gallery li a img,
#content .video-gallery li a img,
#content .wedding-gallery li a img { 
	border: none;
	margin-bottom: 25px; 
}


/*** Fancybox Pagination ***/

#content .page_navigation { 
	margin: 0 35px 0 0;
	text-align: center;
	*margin: 15px 35px 0 0;	
	font: 9px Arial, Sans-serif; 
}

#content .page_navigation a, .ellipse { 
	color: #FFF; 
	float: left; 
	padding: 3px; 
	margin: 0 3px; 
	display: inline; 
	background: #AFA492; 
	border: 1px solid #AFA492; 
}
		
#content .page_navigation a:hover, 
#content .page_navigation a.active_page { 
	float: left; 
	margin: 0 3px; 
	color: #AFA492; 
	display: inline; 
	border: 1px solid #E6E3DD; 
	background-color: #E6E3DD; 
}


/*** Thumbnail Easing ***/

#content .gallery li.mid { 
	margin-left: 130px; 
}

#content .gallery li a,
#content .video-gallery li a,
#content .wedding-gallery li a {
	float: left; 
	width: 120px; 
	height: 70px; 
	*cursor: pointer;
	position: relative; 
	margin: 0 20px 20px 0; 
}

#content .gallery li a span,
#content .video-gallery li a span,
#content .wedding-gallery li a span {
	top: 0; 
	left: 0; 
	float: left; 
	width: 114px; 
	height: 64px; 
	position: absolute; 
	border: 3px solid #DDD;
}

#content .video-gallery li a span {
	margin: 0;
	padding: 0;
	background: transparent url('../images/content/video/film.png');
}

#content .video-gallery li a:hover span {
	border: 3px solid #A99E8C;
}
			
#content .gallery li a:hover span,
#content .wedding-gallery li a:hover span { 
	background: #AAA;
	border: 3px solid #FFF; 
}

/************************************************************/