@font-face {
    font-family: 'ScriptBl';
    src: url('scriptbl.eot');
    src: url('scriptbl.eot?#iefix') format('embedded-opentype'),
         url('scriptbl.woff') format('woff'),
         url('scriptbl.ttf') format('truetype'),
         url('scriptbl.svg#ScriptBl') format('svg');
    font-weight: normal;
    font-style: normal;
}