@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/myriadpro-regular-webfont.eot');
    src: url('../fonts/myriadpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-regular-webfont.woff') format('woff'),
         url('../fonts/myriadpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-regular-webfont.svg#MyriadPro') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'MyriadProBold';
    src: url('../fonts/myriadpro-bold.eot');
    src: url('../fonts/myriadpro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-bold.woff') format('woff'),
         url('../fonts/myriadpro-bold.ttf') format('truetype'),
         url('../fonts/myriadpro-bold.svg#MyriadProBold') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ILSScript';
    src: url('../fonts/ilsscrp.eot');
    src: url('../fonts/ilsscrp.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ilsscrp.woff') format('woff'),
         url('../fonts/ilsscrp.ttf') format('truetype'),
         url('../fonts/ilsscrp.svg#ILSScript') format('svg');
    font-style: normal;
    font-weight: normal;
}