#inner-footer span a[title="Twitter"] {
	background-position-x: 72px;
	background-position-y: 0px;
}

#inner-footer span a[title="Youtube"] {
	background-position-x: 37px;
	background-position-y: 0px;
}