form fieldset#request {
  color: #999;
  width: 900px;
  text-align: center;
  padding: 40px 0 40px 70px;
  font: 24px Tahoma, Arial, San-Serif;
}

form fieldset#request p {
  width: 815px;
}

form fieldset#request h2 {
  width: 90%;
  text-align: left;
	padding-bottom: 10px;
}

form fieldset#request h4 {
  color: #09F;
  margin: 30px 0;
  text-align: left;
  font: 28px Georgia, Times New Romans, Serif;
}

form fieldset#request label,
form fieldset#request select,
form fieldset#request input.qna {
  width: 90%;
  display: block;
  margin-top: 10px;
  text-align: justify;
} 

form fieldset#request select, 
form fieldset#request input.qna {
  color: #666;
  padding: 3px;
  border: 1px solid #666;
  background-color: rgb(245,245,245);
  font: 26px Tahoma, Arial, San-Serif;
}

form fieldset#request input.submit {
  width: 15%;
  color: #FFF;
  margin: auto;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  border: 2px solid #09F;
  background: transparent url('../images/bg_navigation-hover.jpg') repeat-x;
  
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

form fieldset#request h2 a.back {
  padding: 10px;
}

form fieldset#request p a {
  padding: 11px 40px;
	text-decoration: none;
}

form fieldset#request p a,
form fieldset#request p input,
form fieldset#request h2 a.back {
	color: #FFF;
  font-size: 14px;
	text-decoration: none;
	background-color: #666;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

form fieldset#request p input {
	cursor: pointer;
	padding: 10px 50px;
	font-family: Tahoma, Arial, San-Serif;
}

form fieldset#request h2 a.back:hover {
	text-decoration: underline;
}