/* default */
h1,h2,h3,h4,h5 { 
	margin: 0; 
	padding: 0;
}	

.hidden { 
	overflow: hidden;
	text-indent: -999em; 
}

hr.hide-line { 
	margin: 0; 
	padding: 0; 
	display: none;
}

.clearfix:after { 
	height: 0; 
	clear: both;
	content: "."; 
	display: block; 
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hide from IE Mac \*/
.clearfix { 
	display: block;
}
/* End hide from IE Mac */


/* nojavascript */
.nojavascript { 
	top: 0;
	left: 50%;
	color: Red; 
	z-index: 1; 
	width: 990px;
	background: #FFF;
	position: absolute; 
	margin-left: -495px; 
	border: 2px dashed Red;
	font: bold 12px 'Trebuchet MS', Arial, San-serif;
}


/***** CLASSES *****/
.left { 
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.block {
	display: block;
}

.clear { 
	clear: both;
}

.debug {
	border: 1px solid Green;
}


/****** BODY ******/
body { 
	margin: 0;
	padding: 0; 
	z-index: -1;
	width: 100%;
	height: 100%;
	color: #786148; 
	font-family: Arial, Sans-serif;
	background: url(../images/common/bg_body.jpg) no-repeat center 198px;
	
	background-size: 100%;
}

.btm-border {
	width: 100%;
	height: 12px;
	display: block;
	background: transparent url(../images/common/bg_header-border.png);
}

.btm-border.upper {
	left: 0;
	top: 191px;
	position: absolute;
}

/****** MAIN ******/
#main {
	padding: 0;  
	width: 990px;
	height: 100%; 
	text-align: left; 
	position: relative; 
	max-height: 1162px;
	margin: 220px auto 0; 
}

#divider {
	width: 12px;
	float: right;
	height: 1162px;
	display: block;
	background: transparent url(../images/common/bg_divider.png);
}

/****** HEADER ******/
#header { 
	top: 0; 
	left: 0;
	width: 100%;  
	height: 170px;
	padding-top: 21px;
	position: absolute; 
	background: url(../images/common/bg_header.jpg);
}

#header .inner {
	width: 970px;
	margin: 0 auto;
}

#header .inner h1 #logo {
	float: left;
	width: 386px;
	height: 142px;
	display: block;
	text-indent: -999em;
	text-decoration: none;
	background: transparent url(../images/common/img_logo.png);
}

#header .inner p {
	margin: 0;
	width: 550px;
}

#header .inner p span {
	font-family: Georgia, Serif !important;
}

#header .inner p span strong {
	font-size: 20px;
}

#header .inner p big {
	color: #EFEFEF;
	display: block;
	font-size: 48px;
	line-height: 10px;
	margin-left: 20px;
	letter-spacing: 1px;
}

#nav {
	padding: 0;
	list-style: none;
	margin-top: 25px;
}

#nav li {
	float: left;
	display: block;
}

#nav li:hover,
#nav li.active-menu {
	background: url(../images/common/bg_nav-active.png);
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#nav li a {
	height: 34px;
	color: #786148;
	padding: 0 18px;
	text-decoration: none;
	font: 20px/34px 'Rockwell';
	text-shadow: 1px 1px 2px #000;
	border-right: 1px solid #492712;
}

#nav li#last-child a{
	border-right: none;
}

#nav li:hover a,
#nav li.active-menu a {
	color: #FFF;
	border-right: none;
	padding: 0 19px 0 18px;
}

#nav li#last-child:hover a,
#nav li#last-child.active-menu a {
	padding: 0 18px;
}
			
/****** SIDEBAR ******/
#sidebar { 
	top: 10px;
	left: 30px;
	width: 238px;	
	height: 1142px;	
	position: absolute;
	background: transparent url(../images/common/bg_sidebar.png);
}

#sidebar h2 {
	color: #FFF;
	width: 188px;
	height: 62px;
	position: relative;
	padding-left: 60px;
	margin: 15px 0 0 -10px;
	font: 28px/50px 'Rockwell';
	text-shadow: 1px 1px 1px #00263E;
	background: transparent url(../images/common/bg_sidebar-header.png);
}

#sidebar h2 span {
	top: 5px;
	height: 38px;
	display: block;
	position: absolute;
	background-color: transparent;
	background-image: url(../images/content/icn_sidebar-header.png);
}

#sidebar h2 span[rel="services"] {
	left: 10px;
	width: 44px;
	background-position: right, center;
}

#sidebar h2 span[rel="quote"] {
	left: 6px;
	width: 47px;
	background-position: left, center;
}

#sidebar ul {
	margin: 0;
	padding-left: 25px;
}

#sidebar ul li {
	color: #AAA;
	line-height: 225%;
	margin-right: 10px;
	border-bottom: 1px dotted #005384;
}

#sidebar ul li#last-child {
	border-bottom: none;
}

#sidebar form fieldset {
	padding: 0;
	color: #FFF;
	border: none;
	width: 220px;
	margin: 0 auto;
	font-size: 12px;
	letter-spacing: -1px;
}

#sidebar form fieldset textarea,
#sidebar form fieldset input[type="text"] {
	color: #222;
	font-size: 12px;
	margin-top: 20px;
	padding-left: 3px;
	font-style: italic;
	border: 1px solid #FFF;
	background-color: #F0F0F0;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	box-shadow: inset 0 0 1px #000;
	-moz-box-shadow: inset 0 0 1px #000;
	-webkit-box-shadow: inset 0 0 1px #000;
}

#sidebar form fieldset input[type="text"] {
	width: 97%;
	height: 25px;
	line-height: 25px;
}

#sidebar form fieldset textarea {
	width: 96%;
	resize: none;
	padding: 5px 3px;
	font: italic 12px/130% Arial, Sans-serif; 
}

#sidebar form fieldset input[type="checkbox"] {
	margin-top: 20px;
}

#sidebar form fieldset input[type="submit"] {
	color: #FFF;
	width: 201px;
	border: none;
	height: 50px;
	display: block;
	font-size: 19px;
	text-align: left;
	line-height: 40px;
	margin: 20px auto 0;
	letter-spacing: -1px;
	padding: 0 0 5px 13px;
	text-transform: uppercase;
	background: transparent url(../images/content/btn_form.png);
}

#sidebar #payment {
	color: #FFF;
	width: 192px;
	height: 52px;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	margin: 25px auto 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: transparent url(../images/content/img_payment.png) no-repeat center bottom;
}
	
/****** CONTENT ******/
#content { 
	float: right; 
	width: 710px;
	height: 1162px;
	background: transparent url(../images/common/bg_content.png);
}		

#banner {
	display: block;
	margin: 10px auto;
}	

#content #page-title {
	color: #333;
	margin: 20px 20px 0;
	font-weight: normal;
	padding-bottom: 5px;
	font-family: 'Rockwell';
	text-shadow: 1px 1px 1px #FFF;
	border-bottom: 1px solid #646464;
}

#content #page-title big {
	color: #005A85;
	font-size: 30px;
	font-weight: bold;
}

#inner-content {
	margin: 0 20px;
	overflow: auto;
	height: 660px;
	border-top: 1px solid #FFF;
}

#inner-content small {
	margin: 5px 0;
	color: #005A85;
	display: block;
	font-size: 13px;
	font-weight: bold;
	font-family: 'Rockwell';
	text-shadow: 1px 1px 1px #FFF;
}

#inner-content p {
	color: #333;
	margin: 30px 0 0;
	font: 13px/180% Verdana, Sans-serif;
}

#index-services {
	padding: 0;
	margin: 35px 0 0;
	list-style: none;
}

#index-services li {
	float: left;
	color: #333;
	width: 200px;
	font-size: 22px;
	margin: 10px 8px;
	text-align: center;
}

#index-contact {
	font-size: 20px;
	margin:  10px 20px;
	font-family: 'Rockwell';
	text-shadow: 1px 1px 1px #FFF;
}

#index-contact strong {
	color: #005A85;
}

/****** FOOTER ******/
#footer {
	width: 100%;
	height: 98px;
	margin: -2px 0 0;
	background: transparent url(../images/common/bg_footer.png);
}

#inner-footer {
	width: 990px;
	color: #786047;
	margin: 0 auto;
}

#inner-footer p {
	margin: 0;
	width: 375px;
	padding: 15px 0;
}

#inner-footer p a,
#inner-footer p big {
	font-size: 15px;
	font-family: 'Rockwell';
}

#inner-footer p a {
	color: #786047;
	padding: 0 2px;
	text-decoration: none;
}

#inner-footer p a:hover,
#inner-footer p a.active-menu {
	color: #FFF;
}

#inner-footer p small {
	display: block;
	margin: 5px 0 0;
	font: 11px/140% Tahoma, Sans-serif;
}

#inner-footer p.mid {
	width: 300px;
	padding: 0 25px;
	margin: 15px 25px;
	border-left: 1px solid #341D0A;
	border-right: 1px solid #341D0A;
}

#inner-footer p.last {
	width: 210px;
	text-align: right;
}

#inner-footer p.last a {
	padding: 0;
	width: 18px;
	float: right;
	height: 18px;
	display: block;
	margin-left: 5px;
	background-color: transparent;
	background-image: url(../images/content/img_social-links.png);
}

#inner-footer p.last a[title="Facebook"] {
	background-position: 36px center;
}

#inner-footer p.last a[title="Twitter"] {
	background-position: 18px center;
}

/************************************************************
 ****************   For CSV Database Use   ******************
 ************************************************************

/*** Fancybox Gallery ***

#content .gallery { 
	width: 800px; 
	margin: 0 auto; 
	text-align: center;
}
	
#content .gallery li { 
	display: inline; 
	position: relative;
}
			
#content .gallery li a img { 
	margin-bottom: 25px; 
}


/*** Fancybox Pagination ***

#content .page_navigation { 
	text-align: center; 
	margin: 0 0 25px 390px; 
	font: 14px Arial, Sans-serif; 
}

#content .page_navigation a, .ellipse { 
	color: #FFF; 
	float: left; 
	padding: 5px; 
	margin: 0 5px; 
	display: inline; 
	background: #333; 
	border: 1px solid #111; 
}
		
#content .page_navigation a:hover, 
#content .page_navigation a.active_page { 
	color: #FFF; 
	float: left; 
	margin: 0 5px; 
	display: inline; 
	border: 1px solid #E00; 
	background-color: #D90102; 
}


/*** Thumbnail Easing ***

#content .gallery li.mid { 
	margin-left: 130px; 
}

#content .gallery li a {
	float: left; 
	width: 200px; 
	height: 175px; 
	position: relative; 
	margin: 0 30px 30px 0; 
}

#content .gallery li a span {
	top: 0; 
	left: 0; 
	float: left; 
	width: 190px; 
	height: 165px; 
	position: absolute; 
	border: 5px solid #FFF;
}
			
#content .gallery li a:hover span { 
	background: #5A5954;
	border: 5px solid #FFF; 
}

************************************************************/