/* default */
h1,h2,h3,h4,h5 { 
	margin: 0; 
	padding: 0;
}	

.hidden { 
	overflow: hidden;
	text-indent: -999em; 
}

hr.hide-line { 
	margin: 0; 
	padding: 0; 
	display: none;
}

.clearfix:after { 
	height: 0; 
	clear: both;
	left-content: "."; 
	display: block; 
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hide from IE Mac \*/
.clearfix { 
	display: block;
}
/* End hide from IE Mac */


/* nojavascript */
.nojavascript { 
	top: 0;
	left: 50%;
	color: Red; 
	z-index: 1; 
	width: 990px;
	background: #FFF;
	position: absolute; 
	margin-left: -495px; 
	border: 2px dashed Red;
	font: bold 12px 'Trebuchet MS', Arial, San-serif;
}


/***** CLASSES *****/
.left { 
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.block {
	display: block;
}

.clear { 
	clear: both;
}

.debug {
	border: 1px solid Green;
}


/****** BODY ******/
body { 
	margin: 0;
	padding: 0; 
	color: #900;
	background: #FFF;
	text-align: center; 
	overflow-x: hidden;
	font: 100% Arial, Helvetica, Sans-serif; 
}

#wrapper {
	width: 1440px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	background: url('../images/common/bg_wrapper.jpg') no-repeat left bottom;
}

/****** MAIN ******/
#main {
	width: 990px;
	text-align: left; 
	position: relative; 
	margin: 806px auto 0; 
	padding: 0 28px 15px;  
	background: transparent url('../images/common/bg_main.png') repeat-y;
}

#bottom-main {
	width: 990px;
	height: 18px;
	display: block;
	padding: 0 28px;
	margin: 0 auto;
	background: transparent url('../images/common/bg_main-btm.png');
}

/****** HEADER ******/
#header { 
	top: 0; 
	left: 0;
	width: 1440px;
	position: absolute; 
	text-shadow: 1px 1px 1px #FFF;
	background: url('../images/common/bg_banner.jpg') no-repeat left top;
}

#insured {
	margin: 0;
	color: #A5B827;
	text-align: center;
	font: bold 32px/78px Arial, Sans-serif;
	background: transparent url('../images/common/bg_header.png');
}

#banner-title {
	color: #FFF;
	margin: 25px;
	font-size: 70px;
	line-height: 120%;
	font-family: 'Banff';
}

#logo-container {
	margin: 364px 0 0;
	background-color: #A5B827;
}

#logo-container h1,
#logo-container h1 span {
	width: 1440px;
	height: 130px;
}

#logo-container h1 {
	z-index: 1;
	margin: 0 auto 5px;
	position: relative;
	text-align: center;
}

#logo-container h1 a {
	color: #660;
	text-decoration: none;
	font: small-caps 30px/40px Georgia, Serif;
}

#logo-container h1 span {
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	position: absolute;
	background: url('../images/common/img_logo.jpg');
}

#header-contact {
	color: #FFF;
	width: 990px;
	margin: 0 auto;
	text-align: right;
	text-shadow: 1px 1px 1px #660;
	font: bold 25px/42px Arial, Sans-serif;
}

#header-contact span {
	color: #F8F1C5;
	font-size: 20px;
	text-transform: uppercase;
}

#nav {
	padding: 0;
	margin: 5px 0 0;
	list-style: none;
	text-align: center;
	background: #A5B827;
}

#nav li {
	height: 75px;
	padding: 0 30px;
	margin-right: 50px;
	display: inline-block;
}

#nav li:last-child {
	margin-right: 0;
}

#nav li:hover {
	background: #B4C44C;
}

#nav li a {
	color: #FFF;
	text-shadow: none;
	text-decoration: none;
	font: bold 25px/75px Arial, Sans-serif;
}

#nav li:hover a {
	text-shadow: 0 0 5px #000;
}
			
/****** RIGHT CONTENT ******/
#right-content { 
	float: left; 
	width: 300px;	
	margin: 0 20px;
}

#right-content h4 {
	color: #676767;
	font-size: 30px;
	font-weight: bold;
	font-family: 'SFAtarian';
	text-shadow: 1px 1px 1px #FFF;
}

#right-content ul {
	width: 125px;
	padding-left: 0;
	list-style: none;
}

#right-content ul li {
	color: #676767;
	font-size: 15px;
	line-height: 150%;
}

#free {
	width: 264px;
	padding: 8px;
	height: 78px;
	margin: 7px auto 0;
	background-color: #A5B828;
} 

#free #estimate {
	margin: 0;
	text-align: center;
	padding: 10px 0 5px;
	border: 2px solid #FAF1C6;
}

#free #estimate a {
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font: 15px Arial, Sans-serif;
}

#free #estimate a big {
	font-size: 29px !important;
	font-weight: bold !important;
}
			
/****** LEFT CONTENT ******/
#left-content { 
	float: left; 
	width: 324px;
	margin: 0 10px;
}

#sidebar h3,
#left-content h2,
#right-content h3 {
	color: #A5B827;
	text-align: center;
	margin: 10px 0 5px;
	font: bold 25px Arial, Sans-serif;
}

#left-content span {
	color: #333;
	display: block;
	text-align: center;
	letter-spacing: 3px;
	font: normal 12px/15px Arial, Sans-serif;
}

#left-content p,
#right-content p {
	color: #676767;
	font-size: 15px;
	line-height: 150%;
	text-align: justify;
	font-family: Arial, Sans-serif;
}		

#img-index1,
#img-index2 {
	width: 300px;
	height: 30px;
	margin: 25px auto;
	padding-top: 100px;
}

#img-index1 {
	background: transparent url('../images/content/img_index1.png');
}	

#img-index2 {
	background: transparent url('../images/content/img_index2.png');
}

.img-title {
	color: #A5B828;
	padding-left: 15px;
	line-height: 32.5px;
}

.view {
	float: right;
	color: #A5B828;
	margin-right: 15px;
	padding-right: 15px;
	text-decoration: none;
	font: 11px/30px Arial, Sans-serif;
	background: transparent url('../images/content/bg_arrow.png') no-repeat right center;
}

.view:hover {
	text-decoration: underline;
}

.read {
	color: #EEE;
	float: right;
	margin: 10px 10px 0 0;
	text-decoration: none;
	padding: 0 25px 0 10px;
	font: 11px/25px Arial, Sans-serif;
	background: #A5B828 url('../images/content/bg_arrow2.png') no-repeat 70px center;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.read:hover {
	text-decoration: underline;
}

/****** SIDEBAR ******/
#sidebar {
	width: 306px;
	float: right;
}

#sidebar p {
	color: #676767;
	text-align: center;
	margin: 0 auto 20px;
	font: 15px/130% Arial, Sans-serif; 
}

#sidebar p big {
	display: block;
	font: bold 25px Arial, Sans-serif;
}

#sidebar #contacts {
	color: #333;
	font-size: 12px;
	text-align: left;
	margin: 10px auto;
	line-height: 175%;
}

#sidebar #contacts .label {
	width: 75px;
	float: left;
	display: block;
	text-transform: uppercase;
}

#sidebar #facebook {
	margin: 0;
	color: #FFF;
	width: 300px;
	height: 105px;
	position: relative;
	background: url('../images/content/img_facebook.jpg');
}

#sidebar #facebook strong {
	top: 45px;
	left: 90px;
	position: absolute;
}

#sidebar #facebook span {
	left: 15px;
	bottom: 3px;
	font-size: 11px;
	line-height: 5px;
	position: absolute;
	text-transform: uppercase;
}

#sidebar #facebook span big {
	font-size: 18px;
}

#sidebar #facebook a {
	color: #FFF;
	right: 15px;
	bottom: 8px;
	font-size: 11px;
	font-weight: bold;
	position: absolute;
	padding-left: 15px;
	text-decoration: none;
	background: transparent url('../images/content/bg_arrow3.png') no-repeat 5px center;
}

#sidebar #facebook a:hover {
	text-decoration: underline;
}

/****** FOOTER ******/
#footer {
	width: 100%;
	background-color: #A5B828;
}

#footer a {
	color: #FFF;
	padding-right: 40px;
	text-decoration: none;
	font: 16px/60px Arial, Sans-serif;
}

#footer a.end {
	padding-right: 0;	
}

#footer-desc {
	color: #FFF;
	font-size: 16px;
	letter-spacing: 5px;
}

#copyright {
	color: #FFF;
	font-size: 12px;
}

/************************************************************
 ****************   For CSV Database Use   ******************
 ************************************************************

/*** Fancybox Gallery ***

#left-content .gallery { 
	width: 800px; 
	margin: 0 auto; 
	text-align: center;
}
	
#left-content .gallery li { 
	display: inline; 
	position: relative;
}
			
#left-content .gallery li a img { 
	margin-bottom: 25px; 
}


/*** Fancybox Pagination ***

#left-content .page_navigation { 
	text-align: center; 
	margin: 0 0 25px 390px; 
	font: 14px Arial, Sans-serif; 
}

#left-content .page_navigation a, .ellipse { 
	color: #FFF; 
	float: left; 
	padding: 5px; 
	margin: 0 5px; 
	display: inline; 
	background: #333; 
	border: 1px solid #111; 
}
		
#left-content .page_navigation a:hover, 
#left-content .page_navigation a.active_page { 
	color: #FFF; 
	float: left; 
	margin: 0 5px; 
	display: inline; 
	border: 1px solid #E00; 
	background-color: #D90102; 
}


/*** Thumbnail Easing ***

#left-content .gallery li.mid { 
	margin-left: 130px; 
}

#left-content .gallery li a {
	float: left; 
	width: 200px; 
	height: 175px; 
	position: relative; 
	margin: 0 30px 30px 0; 
}

#left-content .gallery li a span {
	top: 0; 
	left: 0; 
	float: left; 
	width: 190px; 
	height: 165px; 
	position: absolute; 
	border: 5px solid #FFF;
}
			
#left-content .gallery li a:hover span { 
	background: #5A5954;
	border: 5px solid #FFF; 
}

************************************************************/