/* default */
h1,h2,h3,h4,h5 { 
	margin: 0; 
	padding: 0;
}	

.hidden { 
	overflow: hidden;
	visibility: hidden;
	text-indent: -999em; 
}

hr.hide-line { 
	margin: 0; 
	padding: 0; 
	display: none;
}

.clearfix:after { 
	height: 0; 
	clear: both;
	content: "."; 
	display: block; 
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hide from IE Mac \*/
.clearfix { 
	display: block;
}
/* End hide from IE Mac */


/* nojavascript */
.nojavascript { 
	top: 0;
	left: 50%;
	color: Red; 
	z-index: 1; 
	width: 990px;
	background: #FFF;
	position: absolute; 
	margin-left: -495px; 
	border: 2px dashed Red;
	font: bold 12px 'Trebuchet MS', Arial, San-serif;
}


/***** CLASSES *****/
.left { 
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.block {
	display: block;
}

.clear { 
	clear: both;
}

.debug {
	border: 1px solid Green;
}


/****** BODY ******/
body { 
	margin: 0;
	padding: 0; 
	text-align: center; 
	background-color: #494949;
	font: 100% Arial, Helvetica, Sans-serif; 
}

/****** HEADER ******/
#header { 
	width: 100%;
	height: 548px;
	text-align: left;
	background: transparent url('../images/common/bg_header.png') repeat-x center top;
}

#innerHeader {
	width: 990px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

#logo {
	z-index: 3;
	border: none;
	margin: 15px 30px 0;
	position: relative;
}

#links,
#links a {
	color: #999;
	margin: 25px 0;
	font-size: 13px;
	text-align: right;
	font-weight: bold;
	text-decoration: none;
}

#links a:hover {
	color: #FFF;
	text-decoration: underline;
}

#links {
	color: #999;
	font-size: 13px;
	margin-right: 30px;
}

#links span {
	color: #BBB;
	line-height: 30px;
	font-weight: normal;
	padding-right: 15px;
}

#links a.social {
	width: 30px;
	float: left;
	height: 30px;
	display: block;
	margin:0 8px 0 0;
	text-align: center;
	text-indent: -999em;
	background-color: transparent;
	background-image: url('../images/common/img_social-links.png');
}

#links a[title="facebook"] {
	background-position: left, top;
}

#links a[title="twitter"] {
	background-position: 60px, top;
}

#links a[title="youtube"] {
	margin: 0 !important;
	background-position: 30px, top;
}

#navContainer {
	z-index: 3;
	width: 960px;
	height: 51px;
	margin: 0 auto;
	position: relative;
}

#nav-left,
#nav-right {
	margin: 0;
	width: 6px;
	height: 51px;
	display: block;
}

#nav-left {
	float: left;
	background: transparent url('../images/common/bg_nav-left.png');
}

#nav {
	margin: 0;
	float: left;
	width: 948px;
	height: 39px;
	padding: 6px 0;
	list-style: none;
	background: transparent url('../images/common/bg_nav.png') repeat-x;
}

#nav li a {
	color: #999;
	float: left;
	width: 158px;
	display: block;
	text-align: center;
	text-decoration: none;
	font: 15px/39px 'MyriadPro';
	background: transparent url('../images/common/bg_nav-divider.png') no-repeat left center;
}

#nav li:first-child a {
	background: none;
}

#nav li a:hover,
#nav li a.active-menu {
	color: #FFF;
	background: transparent url('../images/common/bg_nav-active.png') no-repeat;
}

#nav-right {
	float: right;
	background: transparent url('../images/common/bg_nav-right.png');
}

#banner {
	width: 900px;
	height: 270px;
	margin: 0 auto;
	padding: 35px 40px;
	background: transparent url('../images/common/bg_banner.png');
}

#bannerText {
	margin: 0;
	color: #333;
	text-align: right;
	text-shadow: 1px 1px 1px #FFF;
	font: 65px/75px 'MyriadProLightBold';
}

#bannerText big {
	color: #006AD5;
	font-size: 100px;
}

#launch {
	color: #999;
	width: 379px;
	height: 61px;
	display: block;
	text-align: center;
	text-decoration: none;
	margin: 35px -40px 0 0;
	font: 23px/50px 'MyriadProLightBold';
	background: transparent url('../images/common/btn_launch.png');
}

#launch:hover {
	text-decoration: underline;
}

#ellipse {
	z-index: 2;
	top: -450px;
	width: 697px;
	left: -160px;
	height: 703px;
	display: block;
	position: absolute;
	background: transparent url('../images/common/ellipse.png');
}

/****** WRAPPER ******/
#wrapper {
	width: 100%;
	background-color: #EFEFEF;
}


/****** MAIN ******/
#main {
	margin: auto;
	width: 990px;
	background:	transparent url('../images/content/bg_testimonial.png') repeat-y 161px;	
}
		
/****** SIDEBAR ******/
#sidebar { 
	float: left; 
	width: 310px;
	padding-bottom: 25px;
	padding-bottom: 25px;
}

#testimonial-title {
	width: 252px;
	height: 80px;
	margin: 15px 0 30px;
	text-indent: -999em;
	background: transparent url('../images/content/img_testimonials-header.png');
}

#testimonials {
	margin: 0;
	padding: 0;
	list-style: none;
}

.testimonial {
	color: #676767;
	margin: 0 0 15px;
	text-align: left;
	padding: 0 20px 20px;
	font: 11px/18px Arial, Sans-serif;
	background: transparent url('../images/content/bg_testi-line-break.png') no-repeat center bottom;
}

#testimonials .testimonial:last-child {
	margin: 0;
	background: none;
}

.testimonial img {
	margin: 5px 10px 0 0;
}

#readMore {
	float: right;
	color: #676767;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	font: 10px Arial, Sans-serif;
	background: transparent url('../images/content/img_arrow.png') no-repeat;
}

#readMore:hover {
	text-decoration: underline;
}

/****** CONTENT ******/
#content { 
	float: right; 
	width: 680px;
}	

/****** Left Content ******/
#leftContent {
	width: 407px;
	padding: 0 10px;
	text-align: left;
}

#leftContent h1 {
	color: #006AD5;
	margin: 25px 0 0;
	text-shadow: 1px 1px 1px #FFF;
	border-bottom: 1px solid #D6D6D6;
	font: 35px/50px 'MyriadProLightBold';
}

#leftContent p {
	color: #656565;
	margin: 0 0 20px;
	font: 12px/21px Arial, Sans-serif;
}

.firstContent {
	margin: 0;
	padding-top: 20px;
	border-top: 1px solid #FFF;
}

/****** Right Content ******/
#rightContent {
	width: 253px;
	float: right; 
}

#twitter-title {
	z-index: 2;
	width: 223px;
	height: 80px;
	color: #D6D6D6;
	padding: 0 15px;
	margin: 15px 0 0;
	text-align: right;
	position: relative;
	text-transform: uppercase;
	font: 20px/85px 'MyriadProLightBold';
	background:transparent url('../images/content/bg_twitter-feed.png');
}		

#rightContainer {
	width: 250px;
	margin: -15px 0 0;
	border: 1px solid #FFF;
	
	box-shadow: 0 0 1px #333;
	-moz-box-shadow: 0 0 1px #333;
	-webkit-box-shadow: 0 0 1px #333;
}

#rightContainer h3 {
	color: #006AD5;
	text-align: left;
	margin: 30px 5px 0;
	font: 20px 'MyriadPro';
}

#tweets {
	margin: 0;
	padding: 0 5px;
	list-style: none;
}

.tweet {
	color: #656565;
	padding: 12px 0;
	text-align: left;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #D6D6D6;
	font: 11px/14px Arial, Sans-serif;
}

.tweet:first-child {
	border-top: none;
}

.tweet:last-child {
	border-bottom: none;
}

.tweet .twitter-name {
	color: #006AD5;
	padding-right: 15px;
}

.tweet .twit-time {
	font-size: 9px;
	color: #006AD5;
}

/****** FOOTER ******/
#footer {
	width: 100%;
	height: 170px;
	background: url('../images/common/bg_footer.png') repeat-x;
}

#footer-nav {
	margin: 0;
	color: #656565;
	padding: 25px 0;
}

#footer-nav a {
	color: #656565;
	letter-spacing: 1.5px;
	text-decoration: none;
	font: 15px 'MyriadPro';
}

#footer-nav a:hover,
#footer-nav a.active-menu {
	color: #006AD4;
}

/************************************************************
 ****************   For CSV Database Use   ******************
 ************************************************************

/*** Fancybox Gallery ***

#content .gallery { 
	width: 800px; 
	margin: 0 auto; 
	text-align: center;
}
	
#content .gallery li { 
	display: inline; 
	position: relative;
}
			
#content .gallery li a img { 
	margin-bottom: 25px; 
}


/*** Fancybox Pagination ***

#content .page_navigation { 
	text-align: center; 
	margin: 0 0 25px 390px; 
	font: 14px Arial, Sans-serif; 
}

#content .page_navigation a, .ellipse { 
	color: #FFF; 
	float: left; 
	padding: 5px; 
	margin: 0 5px; 
	display: inline; 
	background: #333; 
	border: 1px solid #111; 
}
		
#content .page_navigation a:hover, 
#content .page_navigation a.active_page { 
	color: #FFF; 
	float: left; 
	margin: 0 5px; 
	display: inline; 
	border: 1px solid #E00; 
	background-color: #D90102; 
}


/*** Thumbnail Easing ***

#content .gallery li.mid { 
	margin-left: 130px; 
}

#content .gallery li a {
	float: left; 
	width: 200px; 
	height: 175px; 
	position: relative; 
	margin: 0 30px 30px 0; 
}

#content .gallery li a span {
	top: 0; 
	left: 0; 
	float: left; 
	width: 190px; 
	height: 165px; 
	position: absolute; 
	border: 5px solid #FFF;
}
			
#content .gallery li a:hover span { 
	background: #5A5954;
	border: 5px solid #FFF; 
}

************************************************************/