/* default */
h1,h2,h3,h4,h5 { 
	margin: 0; 
	padding: 0;
}	

.hidden { 
	overflow: hidden;
	text-indent: -999em; 
}

hr.hide-line { 
	margin: 0; 
	padding: 0; 
	display: none;
}

.clearfix:after { 
	height: 0; 
	clear: both;
	content: "."; 
	display: block; 
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hide from IE Mac \*/
.clearfix { 
	display: block;
}
/* End hide from IE Mac */


/* nojavascript */
.nojavascript { 
	top: 0;
	left: 50%;
	color: Red; 
	z-index: 1; 
	width: 990px;
	background: #FFF;
	position: absolute; 
	margin-left: -495px; 
	border: 2px dashed Red;
	font: bold 12px 'Trebuchet MS', Arial, San-serif;
}


/***** CLASSES *****/
.left { 
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center !important;
}

.block {
	display: block;
}

.clear { 
	clear: both;
}

.debug {
	border: 1px solid Green;
}


/****** BODY ******/
body { 
	margin: 0;
	padding: 0; 
	color: #900;
	text-align: center; 
	font: 100% Arial, Helvetica, Sans-serif; 
	background: #310000 url(../images/common/bg_body.jpg) no-repeat center top;
}

#header-design {
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	display: block;
	position: absolute;
	background: transparent url(../images/common/bg_header.png);
}

/****** MAIN ******/
#main {
	padding: 0;  
	width: 964px;
	height: 100%; 
	margin: 0 auto; 
	text-align: left; 
	position: relative; 
}

/****** HEADER ******/
#header { 
	top: 0; 
	left: 0;
	width: 964px;  
	position: absolute; 
}

#logo {
	z-index: 3;
	font: 0/0 a;
	width: 210px;
	height: 210px;
	display: block;
	margin: 0 auto;
	position: relative;
	background: transparent url(../images/common/img_logo.png);
}

#nav {
	top: 42px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 70px;
	list-style: none;
	position: absolute;
	background: transparent url(../images/common/bg_nav.png);
}

#nav #spacer {
	float: left;
	width: 210px;
	height: 70px;
}

#nav li a {
	float: left;
	color: #FFF;
	width: 179px;
	display: block;
	text-align: center;
	text-decoration: none;
	margin: 8px 0 8px 8px;
	font: bold 19px/54px 'TrajanPro';
}

#nav li a:hover {
	color: #690101;
	text-shadow: 0 0 5px #FFF;
}

#nav li a.active-menu {
	background: transparent url(../images/common/bg_nav-active.png);
}

#banner {
	left: 0;
	top: 120px;
	position: absolute;
}

#banner p {
	top: 150px;
	left: 25px;
	z-index: 3;
	color: #370000;
	word-spacing: 3px;
	position: absolute;
	letter-spacing: 1px;
	font: small-caps 20px/162% 'TrajanPro';
}

#banner p big {
	color: #854613;
	font-size: 32px;
}
			
/****** BOTTOM CONTENT ******/
#footer,
#btmContent { 
	background-color: #1A0000;
}

#inner {
	width: 964px;
	margin: 0 auto;
	padding: 20px 0;
}

.col {
	float: left;
	width: 290px;
	padding: 25px 0;
	line-height: 160%;
}

.col h3 {
	color: #FFF;
	text-align: center;
	font: 18px 'TrajanPro';
}

.col dl {
	margin: 15px 0 0;
}

.col dl dd {
	color: #FFF;
	text-align: left;
	font: 11px/16px Tahoma, Sans-serif;
}

.col,
.col dl dd span {
	margin: 5px 0;
	color: #D99959;
	font-size: 12px;
}

.col dl dd a {
	float: right;
	display: block;
	color: #D99959;
	position: relative;
	padding-right: 20px;
	margin: 10px 25px 0 0;
	text-decoration: none;
	font: bold 11px Arial, Sans-serif;
}

.col dl dd a span {
	top: 0;
	width: 0;
	height: 0;
	right: 5px;
	display: block;
	position: absolute;
	border-left: 6px solid #D99959;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}

.col dl dt {
	margin-right: 15px;
}

.col big {
	color: #FFF;
	margin: 5px 0;
	font: 16px 'TrajanPro';
}

.col-border {
	border: 1px solid #DA9A5A;
}
			
/****** CONTENT ******/
#content { 
	width: 100%;
	float: right; 
	margin: 700px 0 0 0; 
}		

#content h1 {
	color: #FFF;
	font: 28px 'TrajanPro';
}	

#content p {
	color: #D99959;
	font-size: 13px;
	line-height: 200%;
	text-align: justify;
}

#content p big {
	color: #FFF;
	font-size: 17px;
}

#content dl {
	width: 290px;
	display: inline-block;
}

#content dl dd {
	margin: 0;
}

#content dl dd big {
	color: #FFF;
	margin: 20px;
	font: 20px 'TrajanPro';
}

#content dl dd a {
	color: #FFF;
	width: 141px;
	height: 45px;
	display: block;
	font-size: 14px;
	margin: 15px auto;
	line-height: 43px;
	text-decoration: none;
	background: transparent url(../images/content/btn_read-more.png);
}

/****** FOOTER ******/
#footer {
	width: 100%;
	padding-bottom: 20px;
	background: #1A0000 url(../images/common/bg_header.png) repeat-x center 40px;
}

#footer p {
	color: #FFF;
	width: 964px;
	height: 70px;
	margin: 0 auto;
	background: transparent url(../images/common/bg_nav.png);
}

#footer p a {
	color: #FFF;
	padding: 0 15px;
	text-decoration: none;
	font: 16px/70px 'TrajanPro';
}

#footer p a:hover {
	text-decoration: underline;
}

#footer small {
	color: #D99959;
	display: block;
	margin: 70px 0 0;
	line-height: 250%;
}

#footer small,
#footer small a {
	font-size: 10px;
	text-decoration: none;
}

#footer small a {
	color: #F1EEEE;
}

#footer small a:hover {
	text-decoration: underline;
}


/************************************************************
 ****************   For CSV Database Use   ******************
 ************************************************************

/*** Fancybox Gallery ***

#content .gallery { 
	width: 800px; 
	margin: 0 auto; 
	text-align: center;
}
	
#content .gallery li { 
	display: inline; 
	position: relative;
}
			
#content .gallery li a img { 
	margin-bottom: 25px; 
}


/*** Fancybox Pagination ***

#content .page_navigation { 
	text-align: center; 
	margin: 0 0 25px 390px; 
	font: 14px Arial, Sans-serif; 
}

#content .page_navigation a, .ellipse { 
	color: #FFF; 
	float: left; 
	padding: 5px; 
	margin: 0 5px; 
	display: inline; 
	background: #333; 
	border: 1px solid #111; 
}
		
#content .page_navigation a:hover, 
#content .page_navigation a.active_page { 
	color: #FFF; 
	float: left; 
	margin: 0 5px; 
	display: inline; 
	border: 1px solid #E00; 
	background-color: #D90102; 
}


/*** Thumbnail Easing ***

#content .gallery li.mid { 
	margin-left: 130px; 
}

#content .gallery li a {
	float: left; 
	width: 200px; 
	height: 175px; 
	position: relative; 
	margin: 0 30px 30px 0; 
}

#content .gallery li a span {
	top: 0; 
	left: 0; 
	float: left; 
	width: 190px; 
	height: 165px; 
	position: absolute; 
	border: 5px solid #FFF;
}
			
#content .gallery li a:hover span { 
	background: #5A5954;
	border: 5px solid #FFF; 
}

************************************************************/