@font-face {
				font-family: 'SegoeUI-Bold';
				src: url('fonts/segoeuib.eot');
				src: url('fonts/segoeuib.eot?#iefix') format('embedded-opentype'),
						 url('fonts/segoeuib.woff') format('woff'),
						 url('fonts/segoeuib.ttf') format('truetype'),
						 url('fonts/segoeuib.svg#segoeuib') format('svg');
				font-weight: normal;
				font-style: normal;
}

@font-face {
				font-family: 'SegoeUI';
				src: url('fonts/segoeui.eot');
				src: url('fonts/segoeui.eot?#iefix') format('embedded-opentype'),
						 url('fonts/segoeui.woff') format('woff'),
						 url('fonts/segoeui.ttf') format('truetype'),
						 url('fonts/segoeui.svg#segoeui') format('svg');
				font-weight: normal;
				font-style: normal;
}

@font-face {
				font-family: 'SegoeUI-BoldItalic';
				src: url('fonts/segoeuiz.eot');
				src: url('fonts/segoeuiz.eot?#iefix') format('embedded-opentype'),
						 url('fonts/segoeuiz.woff') format('woff'),
						 url('fonts/segoeuiz.ttf') format('truetype'),
						 url('fonts/segoeuiz.svg#segoeuiz') format('svg');
				font-weight: normal;
				font-style: normal;
}

@font-face {
				font-family: 'SegoeUI-SemiBold';
				src: url('fonts/seguisb.eot');
				src: url('fonts/seguisb.eot?#iefix') format('embedded-opentype'),
						 url('fonts/seguisb.woff') format('woff'),
						 url('fonts/seguisb.ttf') format('truetype'),
						 url('fonts/seguisb.svg#seguisb') format('svg');
				font-weight: normal;
				font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue-webfont.eot');
    src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebasneue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* default */
h1,h2,h3,h4,h5,h6{ padding:0; margin:0; font-weight:normal;}
a { text-decoration:none;}
a img { border:0;}
ul { list-style:none;}
.hidden{ text-indent:-999em; overflow:hidden;}
hr.hide-line{ padding:0; margin:0; display:none;}
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}/* End hide from IE Mac */
/*nojavascript*/
.nojavascript{ position:absolute; z-index:1; color:red; background:#fff; font:bold 12px 'Trebuchet MS',Arial,georgia, San-serif; border:2px red dashed; width:990px; top:0; left:50%; margin-left:-495px; }

/* Body */
body{ font: 100% Arial, Helvetica, sans-serif; background:#CCDEEC; margin:0; padding:0; text-align: center; color:#0079AC;}
#header-wrapper { width:100%; min-width:990px; background:url(images/common/bodyBG.jpg) no-repeat center top;}
#main-wrapper { width:100%; min-width:990px; background:url(images/common/main-wrapper.jpg) repeat-y center 629px;}
#bottom-wrapper { width:100%; min-width:990px; background:url(images/common/bottom-wrapper.jpg) repeat-x center top; background-size:auto 100%;}
#header-bg { width:100%; height:271px; background:url(images/common/bg_header.png) repeat-x center -59px; display: block; position:absolute; z-index:3;  }

/* main */
#main{ position:relative; margin:0 auto; padding:0;  height:100%; text-align:left; width:990px;}

/* header */
#header{ position:absolute; width:990px; height:629px; top:0; left:0; margin:0; padding:0; color:#FFF;}
#header img.header-logo { position:absolute; top:16px; left:-68px; margin:0; padding:0; z-index:4;}
#header h6 { position:absolute; top:9px; right:0; margin:0; padding:0; font-size:15px; line-height:120%; font-weight:bold; letter-spacing:13px; z-index:5;}
#header h3 { position:absolute; top:20px; right:3px; margin:0; padding:0; font-size:50px; font-family: 'bebas_neueregular'; line-height:120%; letter-spacing:5px; z-index:5;}
#header a.hd-email { position:absolute; top:71px; right:8px; margin:0; padding:0; color:#FFF; font-size:13px; line-height:120%; font-weight:bold; letter-spacing:4px; z-index:5;}
#header ul { position:absolute; top:564px; left:0; margin:0; padding:0; z-index:3;}
#header ul li { float:left; margin:0; padding:0; line-height:120%; background:transparent url(images/common/nabdiv.png) no-repeat right center;}
#header ul li img { margin:1px 0 0 0; padding:0;}
#header ul li a#home { width:196px;}
#header ul li a#contact { width:196px;}
#header ul li a { width:195px; height:41px; margin:5px 0 0 0; padding:13px 0 0 0; line-height:120%; text-align:center; display:block; font-size:20px; color:#FFF;font-family: 'SegoeUI-SemiBold';}
#header ul li a:hover,#header ul li.current_page_item a{ background:url(images/common/ahover-BG.png) no-repeat center top; color:#6A3500;}

#first-nav-divider { display:block; width:2px; height:64px; background:transparent url(images/common/nabdiv.png); position:absolute; top:564px; left:0; }
#hd-form { width:280px; height:455px; background:transparent url(images/common/bg_form.png); position:absolute; right:0; top:94px; color:#FFF; padding:5px 10px 10px 22px; z-index:5; }
#hd-form big { font:bold 30px Arial, Sans-serif; display:block; text-align:center; margin-bottom:5px; text-shadow:1px -1px 1px #024F95; }		
#hd-form em { font-size:13px; display:block; text-align:center; }
#hd-form p { margin:8px 0 0; text-align:center; width:280px; }
#hd-form p .home-estimate { color:#2E1E17; font-size:13px; }
#hd-form .wpcf7 { margin:20px 0 0; text-align:center; }
#wpcf7-f81-p27-o1 form p span input[type="text"], #wpcf7-f81-p27-o1 form p span input[type="email"], #wpcf7-f81-p27-o1 form p span textarea, #hd-form p span input[type="text"], #hd-form p span input[type="email"], #hd-form p span textarea { display:block; width:258px; height:28px; border:1px solid #CEC798; padding:0 10px; box-shadow:inset 0 0 2px #CEC798; -moz-box-shadow:inset 0 0 2px #CEC798; -webkit-box-shadow:inset 0 0 2px #CEC798;  }
#hd-form p span textarea, #wpcf7-f81-p27-o1 form p span textarea { height:110px !important; padding:5px 10px !important; font-family:Arial, Sans-serif; font-size:12px; resize:none; }		
#hd-form p input[type="submit"], #wpcf7-f81-p27-o1 form p input[type="submit"] { display:block; margin:20px auto 0; width:211px; height:53px; background:transparent url(images/common/btn_submit.png); border:none; text-align:left; font-size:15px; text-transform:uppercase; text-indent:5px; font-weight:bold; text-shadow:1px -1px 1px #024F95; color:#FFF; }

#wpcf7-f81-p27-o1 form p span input[type="text"], #wpcf7-f81-p27-o1 form p span input[type="email"], #wpcf7-f81-p27-o1 form p span textarea { width:480px !important; margin: }
#wpcf7-f81-p27-o1 form p span textarea { height: 150px !important; }		
		
div.wpcf7-mail-sent-ok { background:#9F9; color:#398f14; font-weight:bold; position:relative; z-index:3; }
.wpcf7-validation-errors { background:#FFC; color:#2E1E17; position:relative; z-index:3; }		
span.wpcf7-not-valid-tip { color:#F00; }
#meteor-slideshow { position:absolute; top:94px; left:-20px; z-index:0;}
	
/* sidebar */
#sidebar{ float:right; margin:629px 0 0 0; padding:16px 0 23px 19px; width:316px;}
#sidebar ul { width:313px; min-height:291px; margin:0; padding:12px 0 0 3px; background:#EDF3F8; border:1px solid #FFF;}
#sidebar ul h2 { margin:0; padding:0 0 0 5px; font-size:25px; color:#1F617D; font-weight:bold; line-height:120%;}
#sidebar ul h3 { height:10px; margin:0; padding:0;}
#sidebar ul li { margin:0; padding:0; font-size:13px; line-height:220%; font-family:Georgia, "Times New Roman", Times, serif; font-weight:bold;}	
#sidebar ul li span { padding:0 5px 0 5px;}
#sidebar ul li span.approve { padding:0 0 0 25px;}
#sidebar .sb-franchise { width:316px; min-height:354px; margin:13px 0 0 0; padding:0; background:#EDF3F8; border:1px solid #FFF;}
#sidebar .sb-franchise h2 { margin:0; padding:10px 0 0 10px; font-size:15px; line-height:120%; color:#1F607D; font-weight:bold;}
#sidebar .sb-franchise p { margin:0; padding:10px 0 0 10px; font-size:12px; line-height:180%;}
#sidebar .sb-franchise dl { margin:0; padding:0;}
#sidebar .sb-franchise dl dd { margin:0; padding:15px 0 0 15px; font-size:12px; font-weight:bold; color:#1F617D; line-height:120%;}
#sidebar .sb-franchise dl dt { width:265px; min-height:183px; margin:10px auto; padding:0;}
#sidebar p.acc { margin:0; padding:13px 0 0 0; text-align:center;}
#sidebar .sb-find-us { width:316px; min-height:237px; margin:11px 0 0 0; padding:0; background:#EDF3F8; border:1px solid #FFF;}
#sidebar .sb-find-us h5 { margin:0; padding:10px 0 0 20px; font-size:15px; line-height:120%; font-weight:bold; color:#20627D;}
#sidebar .sb-find-us ul.sb-logs { width:auto; min-height:0; margin:0; padding:10px 0 0 17px; border:0;}
#sidebar .sb-find-us ul.sb-logs li { float:left; margin:0; padding:0; line-height:120%;}
#sidebar .sb-find-us ul.sb-logs li span { padding:0 15px 0 15px;}
#sidebar .sb-find-us p { margin:0; padding:5px 0 0 5px; font-size:11px; line-height:150%;}
		

/* content */
#content{ float:left; margin:629px 0 0 0; padding:0; width:655px; min-height:500px;}
#content h1 { margin:0; padding:25px 0 10px 18px; font-size:30px; line-height:110%; font-weight:bold;}
#content h6 { width:630px; margin:0 auto; padding:0; border-bottom:1px solid #9DBFDB;}
#content h5 { width:630px; margin:0 auto; padding:0; border-bottom:1px solid #FFF;}
#content h3 { margin:0; padding:10px 0 0 12px; font-size:25px; line-height:120%; font-family: 'bebas_neueregular'; letter-spacing:10px;}
#content h3 span { padding:0 10px 0 10px;}
#content img.cnt-left { float:left; margin:23px 0 0 10px; padding:;}
#content p { margin:0 10px 0 10px; padding:10px 0 0 0; font-size:12px; line-height:180%;}
#content p.text-right { width:420px; float:right; margin:20px 15px 0 0; padding:0;}

#wpcf7-f81-p27-o1 { width:80%;margin:20px auto;background:#CCDEEC;border:1px solid #FFF;padding:20px; }
.srv-heading3 img { float: left; display:block; margin:0 10px 10px 0; }

/* content bottom */
#content-bottom-cover { width:990px; /*height:293px;*/ margin:0 auto; padding:20px 0 0 0;}
#content-bottom { width:990px; /*height:293px;*/ padding:0; margin:0 auto; padding:0; }
#content-bottom h5 { margin:0; padding:15px 0; background:#F3F8FC; border:1px solid #000;}
#content-bottom h5 span { padding:0 35px 0 35px;}
#content-bottom h3 { margin:10px 0 0; padding:0 0 0 20px; text-align:left; color:#FFF; font-size:18px; line-height:150%; font-family: 'bebas_neueregular'; letter-spacing:10px;}
#content-bottom .coloumn { text-align:center; margin:0; padding:0 0 0 15px;}
#content-bottom dl { float:left; width:240px; height:150px; margin:0; padding:0;}
#content-bottom dl.cnt-bot-dl1 { background:url(images/content/bottom/dt1.jpg) no-repeat center top;}
#content-bottom dl.cnt-bot-dl2 { background:url(images/content/bottom/dt2.jpg) no-repeat center top;}
#content-bottom dl.cnt-bot-dl3 { background:url(images/content/bottom/dt3.jpg) no-repeat center top;}
#content-bottom dl.cnt-bot-dl4 { background:url(images/content/bottom/dt4.jpg) no-repeat center top;}
#content-bottom dl dd { width:224px; /*height:57px;*/ margin:89px auto; padding:1px 14px 0 0; font-size:30px; line-height:90%; font-family: 'bebas_neueregular'; text-align:right; color:#FFF; background:url(images/content/bottom/ddBG.png) no-repeat center top;}

	

/* footer */
#footer{ width:990px; /*height:47px;*/ margin:15px auto 0; color:#FFF; height: 68px;}
#footer ul { float:left; margin:0; padding-left:18px; text-align:left; font-size:15px; line-height:120%; font-weight:bold;}
#footer ul li { float:left; margin:0; padding:0 1px 0 1px;}
#footer ul li a { color:#FFF; padding: 0 5px;}
#footer ul li a:hover,#footer ul li a.active-menu { text-decoration:underline; }
#footer p { float:right; margin:0; padding-right:18px; font-size:12px; line-height:120%;}


/* services pages */
#content ul.srv-list { margin:0; padding:20px 0 0 10px;}
#content ul.srv-list li span { padding:0 10px 0 0;}
#content ul.srv-list li, #content ul.srv-list li a { margin:0; padding:0; font-size:12px; line-height:180%; color:#0079AC; font-weight:bold; font-family:Georgia, "Times New Roman", Times, serif; padding-left:10px;}
#content ul.srv-list li img { margin-right:10px; }
#content img.srv-left { float:left; margin:0 0 0 10px; padding:0;}
#content .srv-cnt-right { float:right; width:485px; margin:0; padding:0;}
#content h3.srv-heading3 { letter-spacing:2px; margin:0; padding:0 0 0 10px}
#content big { font-weight:bold;}
#content p.srv-cleaning span { padding:0 10px 0 0;}