/* default */
h1,h2,h3,h4,h5 { 
	margin: 0; 
	padding: 0;
}	

.hidden { 
	overflow: hidden;
	text-indent: -999em; 
}

hr.hide-line { 
	margin: 0; 
	padding: 0; 
	display: none;
}

.clearfix:after { 
	height: 0; 
	clear: both;
	content: "."; 
	display: block; 
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hide from IE Mac \*/
.clearfix { 
	display: block;
}
/* End hide from IE Mac */


/* nojavascript */
.nojavascript { 
	top: 0;
	left: 50%;
	color: Red; 
	z-index: 1; 
	width: 990px;
	background: #FFF;
	position: absolute; 
	margin-left: -495px; 
	border: 2px dashed Red;
	font: bold 12px 'Trebuchet MS', Arial, San-serif;
}


/***** CLASSES *****/
.left { 
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.block {
	display: block;
}

.clear { 
	clear: both;
}

.debug {
	border: 1px solid Green;
}


/****** BODY ******/
body { 
	margin: 0;
	padding: 0; 
	color: #FFF;
	text-align: center; 
	background: #2F251C;
	font: 100% Arial, Helvetica, Sans-serif; 
}

/****** WRAPPER *******/
#wrapper {
	height: 100%;
	margin: 0 auto;
	max-width: 1440px;
	min-height: 600px;
	position: relative;
	padding-bottom: 15px;
	background: transparent url(../images/common/bg_body1.jpg) no-repeat left 180px;
}

#wrapper-bg2 {
	top: 0;
	right: 0;
	width: 340px;
	height: 385px;
	display: block;
	margin: 185px 0 0;
	position: absolute;
	background: url(../images/common/bg_body2.jpg);
}

.border {
	padding: 0;
	width: 100%;
	height: 10px;
	display: block;
	max-width: 1440px;
	background: url(../images/common/bg_border.jpg);
}

.absolute {
	left: 0;
	top: 572px;
	position: absolute;
}

#contact-header {
	width: 990px;
	margin: 0 auto;
	display: block;
	font-size: 13px;
	text-align: right;
	line-height: 30px;
}

#contact-header a {
	color: #FFF;
	padding-left: 3px;
	text-decoration: none;
	font: 16px/27px Georgia, Serif;
}

#contact-header a:hover {
	text-decoration: underline;
}

/****** MAIN ******/
#main {
	z-index: 2;
	width: 990px;
	height: 100%; 
	text-align: left; 
	background: #FFF;
	position: relative; 
	margin: 115px auto 0;
	padding: 15px 0 25px;  
	
	box-shadow: 0 0 12px #000;
	-moz-box-shadow: 0 0 12px #000;
	-webkit-box-shadow: 0 0 12px #000;
}

/****** BANNER ******/
#banner-form {
	top: 0;
	width: 960px;
	height: 350px;
	margin: 0 auto;
	position: relative;
	background: #2F251C;
	
	box-shadow: 0 0 12px #000;
	-moz-box-shadow: 0 0 12px #000;
	-webkit-box-shadow: 0 0 12px #000;
}

#banner-form form fieldset {
	margin: 0;
	padding: 0;
	float: left;
	width: 360px;
	border: none;
	height: 350px;
}

#banner-form form fieldset h3 {
	margin: 10px 0;
	font-size: 24px;
	text-align: center;
}

#banner-form form fieldset h3 span {
	color: #CC9F2E;
}

#banner-form form fieldset p {
	padding: 0;
	margin: 0 0 15px;
	font: 14px/120% Georgia, Serif;
}

#banner-form form fieldset textarea,
#banner-form form fieldset input[type="text"] {
	color: #333;
	width: 290px;
	height: 40px;
	display: block;
	padding: 0 10px;
	font-size: 12px;
	margin: 10px auto 0;
	border: 1px solid #2F251C;
	font-family: Arial, Sans-serif;
	
	box-shadow: inset 1px 1px 4px #2F251C;
	-moz-box-shadow: inset 1px 1px 4px #2F251C;
	-webkit-box-shadow: inset 1px 1px 4px #2F251C;
}

#banner-form form fieldset textarea {
	resize: none;
	height: 40px !important;
	padding: 10px !important;
}

#banner-form form fieldset input[type="submit"] {
	width: 280px;
	height: 61px;
	border: none;
	display: block;
	color: #744403;
	cursor: pointer;
	font-size: 27px;
	text-align: left;
	text-indent: 15px;
	font-weight: bold;
	margin: 10px auto 0;
	letter-spacing: -1px;
	background: transparent url(../images/content/btn_submit.png);
}

#banner-form #banner {
	width: 600px;
	height: 350px;
	background: url(../images/content/img_banner.jpg);
}

#banner-form #banner #banner-outside {
	top: -30px;
	width: 89px;
	height: 30px;
	right: 192px;
	position: absolute;
	background: transparent url(../images/content/img_banner-out.png); 
}

#banner p {
	color: #FFF;
	width: 500px;
	height: 75px;
	font-size: 18px;
	padding-top: 5px;
	margin: 240px auto 0;
	background: transparent url(../images/content/bg_banner-title.png);
}

#banner p big {
	color: #DEBD52;
	display: block;
	font: 35px/39px 'MTCorsiva';
}

#banner p big span {
	color: #FFF;
}

/****** HEADER ******/
#header { 
	left: 0;
	top: 28px; 
	z-index: 1;
	width: 100%;  
	height: 156px;
	position: absolute; 
	background: #162947;
}

#inner-header {
	width: 990px;
	margin: 0 auto;
}

#inner-header h1 {
	padding-left: 20px;
}

#inner-header h1,
#inner-header h1 a {
	color: #FFF;
	width: 370px;
	height: 85px;
	display: block;
	position: relative;
	text-align: center;
	margin: 6px 0 45px;
	text-decoration: none;
}

#inner-header h1 a span {
	top: 0;
	left: 0;
	z-index: 2;
	width: 370px;
	height: 85px;
	position: absolute;
	background: url(../images/common/img_logo.jpg) no-repeat;
}

#nav {
	padding: 0;
	float: right;
	width: 585px;
	margin: 35px 0 0;
	list-style: none;
}

#nav li {
	width: 19%;
	float: left;
	height: 30px;
	display: block;
	border-left: 1px solid #41516D;
	border-right: 1px solid #202835;
}

#nav li#first-child {
	border-left: none !important;
}

#nav li#last-child {
	border-right: none !important;
}

#nav li a {
	color: #FFF;
	text-decoration: none;
	font: 18px/30px Georgia, Serif;
}

#nav li a:hover,
#nav li a.active-menu {
	color: #CEA432;
}
			
/****** SIDEBAR ******/
#sidebar { 
	float: left; 
	width: 265px;			
	margin: 30px 0 0 15px; 
}

#sidebar img {
	margin-bottom: 15px;
}
			
/****** CONTENT ******/
#content { 
	float: right; 
	width: 685px;
	margin: 30px 15px 0 0; 
}			

#content h2 {
	color: #263245;
	font: bold 25px Georgia, Serif;
}

#content h2 big {
	display: block;
	font: 48px 'MTCorsiva';
}

#content h2 span {  
	color: #382C20;
}

#content ul {
	list-style-image: url(../images/content/bul_service.png);
}

#content p,
#content ul li {
	color: #333333;
	margin: 20px 0;
	font-size: 13px;
	line-height: 140%;
}

#content ul li {
	margin: 5px 0 !important;
}

#content p big {
	font: 20px Georgia, Serif;
}

#content p#contact-content {
	color: #FFF;
	margin-top: 50px;
	position: relative;
	background: #162947;
	font: 20px Georgia, Serif;	
	padding: 15px 320px 15px 15px;
}

#content p#contact-content img {
	top: -40px;
	right: 15px;
	position: absolute;
}

#content p#contact-content em,
#content p#contact-content strong {
	color: #E6CC66;
}

#content p#contact-content em {
	display: block;
	font: 40px 'MTCorsiva';
}

/****** FOOTER ******/
#footer {
	z-index: 3;
	width: 100%;
	height: 138px;
	max-width: 1440px;
	position: relative;
	background: #162947;
	
	box-shadow: 0 0 12px #000;
	-moz-box-shadow: 0 0 12px #000;
	-webkit-box-shadow: 0 0 12px #000;
}

#inner-footer {
	width: 990px;
	margin: 0 auto;
}

#inner-footer p {
	font-size: 13px;
	text-align: left;
	margin: 10px 0 10px 20px;
}

#inner-footer p a {
	color: #FFF;
	text-decoration: none;
	font: 16px Georgia, Serif;
}

#inner-footer p span {
	display: block;
	text-align: center;
	margin: 10px auto 0;
}

#inner-footer p span big {
	padding-left: 10px;
	font: 35px Georgia, Serif;
}

#inner-footer p span small {
	padding: 10px;
	font-size: 13px;
}

#inner-footer p a:hover {
	text-decoration: underline;
}

#footer-logo {
	margin: 15px 20px 15px 0;
}

#copyright {
	z-index: 2;
	color: #333;
	width: 990px;
	margin: 0 auto;
	font-size: 13px;
	padding: 15px 0;
	background: #FFF;
	position: relative;
	
	box-shadow: 0 0 12px #000;
	-moz-box-shadow: 0 0 12px #000;
	-webkit-box-shadow: 0 0 12px #000;
}


/************************************************************
 ****************   For CSV Database Use   ******************
 ************************************************************

/*** Fancybox Gallery ***

#content .gallery { 
	width: 800px; 
	margin: 0 auto; 
	text-align: center;
}
	
#content .gallery li { 
	display: inline; 
	position: relative;
}
			
#content .gallery li a img { 
	margin-bottom: 25px; 
}


/*** Fancybox Pagination ***

#content .page_navigation { 
	text-align: center; 
	margin: 0 0 25px 390px; 
	font: 14px Arial, Sans-serif; 
}

#content .page_navigation a, .ellipse { 
	color: #FFF; 
	float: left; 
	padding: 5px; 
	margin: 0 5px; 
	display: inline; 
	background: #333; 
	border: 1px solid #111; 
}
		
#content .page_navigation a:hover, 
#content .page_navigation a.active_page { 
	color: #FFF; 
	float: left; 
	margin: 0 5px; 
	display: inline; 
	border: 1px solid #E00; 
	background-color: #D90102; 
}


/*** Thumbnail Easing ***

#content .gallery li.mid { 
	margin-left: 130px; 
}

#content .gallery li a {
	float: left; 
	width: 200px; 
	height: 175px; 
	position: relative; 
	margin: 0 30px 30px 0; 
}

#content .gallery li a span {
	top: 0; 
	left: 0; 
	float: left; 
	width: 190px; 
	height: 165px; 
	position: absolute; 
	border: 5px solid #FFF;
}
			
#content .gallery li a:hover span { 
	background: #5A5954;
	border: 5px solid #FFF; 
}

************************************************************/