@font-face {
    font-family: 'MonotypeCorsiva';
    src: url('../fonts/mtcorsva.eot');
    src: url('../fonts/mtcorsva.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mtcorsva.woff') format('woff'),
         url('../fonts/mtcorsva.ttf') format('truetype'),
         url('../fonts/mtcorsva.svg#MonotypeCorsiva') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ArialBlack';
    src: url('../fonts/ariblk_0.eot');
    src: url('../fonts/ariblk_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ariblk_0.woff') format('woff'),
         url('../fonts/ariblk_0.ttf') format('truetype'),
         url('../fonts/ariblk_0.svg#ArialBlack') format('svg');
    font-style: normal;
    font-weight: normal;
}


