@font-face {
    font-family: 'MyriadProLightBold';
    src: url('myriadpro-semibold-webfont.eot');
    src: url('myriadpro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-semibold-webfont.woff') format('woff'),
         url('myriadpro-semibold-webfont.ttf') format('truetype'),
         url('myriadpro-semibold-webfont.svg#MyriadProLightBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('myriadpro-regular-webfont.eot');
    src: url('myriadpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-regular-webfont.woff') format('woff'),
         url('myriadpro-regular-webfont.ttf') format('truetype'),
         url('myriadpro-regular-webfont.svg#MyriadPro') format('svg');
    font-weight: normal;
    font-style: normal;
}